[2017-05-08 10:42] dattaz opened #103 "Zimwriterfs-docker doesn't work with --redirects="
Path of --redirects= should be rewritten with path in Docker ; also dir of redirects file should be mount.

[2017-05-12 11:08] kelson42 opened #102 "Add support for symbolic links in zimwriterfs"
_From @julianharty on May 8, 2017 20:25_

Here's what I know, the bug may be more general or very specific to my case. More testing could help identify the extent, for instance to see if the same behavior happens when using soft-links for images, html, etc.

# Ingredients:

* zimwriterfs (I used the current Docker Image that contains it). Note I added a shared folder so I could easily share data b

[2017-10-12 11:01] kelson42 opened #1 "Create the zimsplit command line tool"
The `zimsplit` command line tools is a tools which split a *.zim file in chunks. We need to do that because a few (older) file systems do not support big files. For example FAT32 does not support files higher than 4GB.

Input:
* A ZIM file path
* A ZIM chunk max size
* A `--force` option

Output:
* A list of chunks files (like described here http://www.openzim.org/wiki/ZIM_file_format#Split_ZIM_fi

[2017-11-05 12:03] kelson42 opened #4 "zimdump -error in specifying namespace"
Description:
In zimdump, when the '-n ns' arg is given, the results are from all namespaces, not just the specified namespace.

However, when the -f arg is given along with it, it works.

I'm not sure whether this is the way the developers intended it to be, so I need some confirmation before trying a fix.

For example,

zimdump -n I -l wikipedia.zim

and

zimdump -l wikipedia.zim

gives the same

[2017-11-05 12:04] kelson42 commented on #4
Seems also to be a bug too me, at least with "-l"...

@mgautierfr ... as you are working currently on that piece of code you could please confirm/fix?

[2017-11-05 12:05] kelson42 opened #5 "zimdump cannot handle retrieval by url with common "-" namespace"
Author: braddock

Description:
zimdump does not reliably find articles via url if the namespace is "-", as is common. The argument parser seems to get mangled and the result is not predictable.

For example:
zimdump -i -u -/MediaWiki~KiwixOffline_0.css wikipedia_en_all_nopic_01_2012.zim

First reported here: https://phabricator.wikimedia.org/T50383

[2017-11-05 12:06] kelson42 commented on #5
@mgautierfr Could you please have a look to this as you are currently working on that piece of code?

[2017-11-05 16:08] tim-moody opened #101 "zimwriterfs internal error: redirect not found"
running:

sudo docker build -t zimwriterfs zimwriterfs_config
time sudo docker run -it -v $(pwd)/articles:/articles -v $(pwd)/output:/output zimwriterfs

which runs

#!/bin/bash
zimwriterfs \
--title="CDC Extract" \
--description="Centers for Disease Control Web Site" \
--creator="www.cdc.gov" \
--publisher="Tim Moody" \
--tags="IIAB;Medical;CDC" \
--language="eng" \
--welcome="www.cdc.gov/index.h

[2017-11-05 18:12] kelson42 opened #6 "Tool to check ZIM integrity needed"
We need to have a way to check the quality of of zim file.

Should be at least checked:

* (WARNING) has a welcome page
* (ERROR) broken local HTML links
* (WARNING) redundant content
*  ...

--  Comment #1 From Tommi Mäkitalo 2010-03-27 10:35:25 -------

I will make a zimlint for that.

--  Comment #2 From Emmanuel Engelhart 2010-04-16 10:52:30 -------

Should also be checked if the HTML content

[2017-11-05 18:15] kelson42 commented on #6
@mgautierfr I think we should start with what Kiran did during the GSOC 2013 https://github.com/kiranmathewkoshy/zimcheck/

[2017-11-06 17:16] mgautierfr commented on #4
This is intended by the developers. So not a bug.

However, the api of `zimdump` is a bit surprising and deserve some explanation :

`zimdump` executes a series of operation always in the same order and if the corresponding option are given :
- Printing "global" information about a zim (`-F`, `-N`)
- Locating an article using `-o` or  (`-n` and `-f` and `-t`) or `-u`. If none of those options are

[2017-11-06 17:51] kelson42 commented on #4
@mgautierfr This behaviour is quite odd... This should be documented in the usage()... at least.

[2017-11-09 09:40] mgautierfr commented on #5
It seems there is no bug here, the given url is correctly parsed by the argument parser.

However, the libzim `find` function used by `zimdump` to locate the article given an url is the function use to "search" a article in the zim file. If the url doesnt't exist, it return the closer article.

So, if the request article is not present in the zim, the content printed is the content of a different

[2017-11-09 09:40] #5 closed

[2017-11-09 15:37] #1 closed

[2017-11-09 19:33] kelson42 opened #8 "zimpatch & zimdiff do not allow to get the exact ZIM files"
The checksums are different between the original and the patched file. It's not in itself a big problem but we should better identify why.

[2017-12-19 18:47] kelson42 opened #9 "Removing zimsearch?"
Is that really necessary? What is articulation with kiwix-search?

It seems also unclear to users, see https://github.com/kiwix/kiwix-tools/issues/130

[2017-12-20 09:46] julianharty commented on #9
I certainly agree that the purpose of zimsearch is in question, although presumably it's for the core zimlib library rather than the enhanced kiwix-lib library that offers additional capabilities. To be blunt I don't really understand what either kiwix-search or zimsearch offer, particularly for older ZIM files. That said, I'd love to have a command-line utility that does return results :)

[2017-12-20 10:53] mgautierfr commented on #9
I disagree to remove it.
Zim files have a embedded index and `zimSearch` is the only tool to search in it without using a tool from a separated project (`kiwix-search`).

- `zimsearch` does nothing with older ZIM files as they don't contain search database.
- `kiwix-search` does nothing with older ZIM files as they don't contain search database. (If PR kiwix/kiwix-tools#136 is merged, `kiwix-searc

[2017-12-20 11:32] kelson42 commented on #9
@mgautierfr ok, but at the end then `zimSearch` and `kiwix-serarch` will provide the same service?

[2017-12-20 11:55] kelson42 opened #10 "[REGRESSION] zimdump -C (checksum verification) is broken"
[code]

zimdump.old is 2 years old but I do not know the exact version.

[2018-02-18 10:19] kelson42 commented on #10
@mgautierfr I have tested with the last nightly and the result is still wrong but differently.
[code]

It is "impossible" this ZIM file has no checksum as this file is really recent.

[2018-03-06 13:35] mgautierfr commented on #10
Can you test again ?
`zimdump` returns me "checksum ok" for ekopedia_fr_all_novid_2017-09.zim

I've no change on zim-tools side and on libzim I've got only things about the blob sizes (not related to checksum).

[2018-03-06 14:50] #10 closed

[2018-03-08 06:03] kelson42 opened #12 "warc2zim tool"
_From @arjenpdevries on December 29, 2017 12:50_

I was trying to find out if there exists any tools to convert between WARC and ZIM formats, but have trouble finding anything related.

Greetings,

Arjen

_Copied from original issue: openzim/libzim#109_

[2018-03-08 06:03] kelson42 commented on #12
@arjenpdevries We do not have this, but this would be quite good to have a converter warc2zim. Might be not so complicated to do.

[2018-05-17 05:53] kelson42 commented on #6
zimcheck has been integrated to zim-tools. It will be improved in the future.

[2018-05-17 05:53] #6 closed

[2018-05-23 14:51] mgautierfr opened #18 "zimcheck should catch zimfiles with invalid mimetype list."
Recent zim files created by zimwriterfs are broken (https://github.com/openzim/zimwriterfs/issues/48)
zimcheck should be extended to catch them.

[2018-06-03 20:32] kelson42 opened #19 "Zim check should check that list are properly sorted"
To avoid this https://github.com/openzim/zimwriterfs/issues/55

[2018-09-18 02:12] sharun-s opened #23 "zimdump does not dump redirects properly (empty files)"
`zimdump -v -D ray wikipedia_en_ray_charles_2015-06.zim`

In the ray directory, to see all the files created of size 0
`find ray -size 0c `

Looks like this is not the intended use case, but I ran into issues when I tried to use zimdump+zimwriterfs to make some fixes and regenerate the ray charles zim https://github.com/openzim/zimwriterfs/issues/80. All the empty files turned into inode/x-empty d

[2018-09-18 08:44] kelson42 opened #24 "zimdump dumping filename are based on the article titles"
`zimdump -v -D ray wikipedia_en_ray_charles_2015-06.zim`

In the ray directory, to see all the files created of size 0
`find ray -size 0c `

You get a file `ray/A/I Believe to My Soul`

it should be a file called `I_Believe_to_My_Soul.html` (like the URL)

[2018-09-18 14:05] MAGNUS-0 opened #100 "zimwriterfs crashes after attempting to read dead symlink"
# OS & Versions

**zimwriterfs**
[code]

**OS**
[code]

# Command being run
File : **zimsco.sh**
[code]
Command :
`$ time sudo ./zimsco.sh`

# Console output
[code]
# Possible reason
Svg was stored as text, so maybe reference link may be causing crash because image is expected?

[2018-12-02 15:22] kelson42 opened #26 "[URGENT] zimcheck is not included in the binary tarballs"
at least not in https://download.openzim.org/release/zim-tools/zim-tools_linux-x86_64-1.0.0-1.tar.gz

[2018-12-03 12:30] #26 closed

[2018-12-06 06:34] kelson42 opened #27 "Make a new release"
We need the `zimcheck` binaries to build Docker stuff.

[2018-12-15 12:33] kelson42 commented on #27
@mgautierfr Any chance you could achieve this before Christmas?

[2019-02-21 10:56] hamkido opened #28 "can not dump tedzim file"
It can work on other zim file but not this.

this is code:
zimdump -D teded-en-all-2017-10 teded_en_all_2017-10.zim

Assertion failed at ../src/buffer.h:54
 offset.v[4] < size_.v[0]
/usr/lib/libzim.so.4(+0x3b292) [0x7f0223daf292]
/usr/lib/libzim.so.4(+0x3b477) [0x7f0223daf477]
/usr/lib/libzim.so.4(_ZN3zim7ClusterC2ESt10shared_ptrIKNS_6ReaderEENS_15CompressionTypeEb+0x34c) [0x7f0223db01ac]
/usr/lib

[2019-02-21 11:11] kelson42 commented on #28
@hamkido Thx for the bug report, will try to reproduce the pb.

[2019-03-03 17:25] kelson42 opened #29 "zimcheck seems to count external URL as dependencies"
It should not, only things necessary to render a HTML page should be consider as a dependence, typically a node with an attribute `src=`.

[2019-03-17 15:30] kelson42 opened #32 "zimcheck broken internal link is buggy"
The detection code seems to be buggy in manny manners:
* It assumes the URLs start with `../` which is a wrong assumption
* URL resolving (based on current article path) is not done properly

I had to deactivate it by working on #29

[2019-03-30 14:19] kelson42 opened #59 "Redundant data in wikipedia_fr_medicine_2018-03.zim"
Fixing few thing on zimCheck, I discover some errors on wikipedia_fr_medicine_2018-03.zim.

Redundant data : m/Nuvola_apps_download_manager2-70%.svg.png (idx 45915) and s/15px-Nuvola_apps_download_manager2-70%25.svg.png (idx 51196) are identical

Reported first in openzim/mwoffliner#631

[2019-04-15 08:54] #32 closed

[2019-04-15 08:54] #29 closed

[2019-05-19 13:03] florentk opened #36 "no zim-tools binary since may 14 (kiwix-build problem?)"
see : http://download.openzim.org/nightly/2019-05-14/

[2019-05-19 13:09] florentk opened #37 "zimcheck returns 0 even when the zim file has error(s)"
To use correctly `zimcheck`, it should  return a non-zero value when the checked zim has error

[2019-05-19 15:43] kelson42 commented on #28
@hamkido I'm not beeing able to reproduced the bug with https://download.openzim.org/release/zim-tools/zim-tools_linux-x86_64-1.0.1.tar.gz. I guess the bug has been fixed then. Please reopen the ticket if not.

[2019-05-19 15:43] #28 closed

[2019-05-19 15:43] kelson42 commented on #27
Done https://download.openzim.org/release/zim-tools/

[2019-05-19 15:43] #27 closed

[2019-05-19 15:45] kelson42 commented on #23
I think zimdump should probably create an HTML file with this header:
[code]

[2019-05-19 15:48] kelson42 commented on #9
@mgautierfr Considering that we don't support external index anymore. I would say the third argument is not valid anymore.

[2019-05-27 09:45] kelson42 opened #39 "Support argument --version"
For all the tools

[2019-05-27 10:59] kelson42 commented on #39
See this PR for zimwriterfs https://github.com/openzim/zimwriterfs/pull/76/files

[2019-05-27 15:44] #37 closed

[2019-05-29 09:14] kelson42 opened #161 "Zimcheck (was: Creator) should check that we have no redirect loop"
To avoid this kind of bug https://github.com/kiwix/kiwix-tools/issues/207

[2019-06-06 14:45] kelson42 opened #44 "zimcheck complains about geo: links, it should not"
on bm.wikipedia.org

[code]

But in the HTML:
[code]

So, the HTML looks good, zimcheck should not complain IMO.

See also https://github.com/openzim/mwoffliner/issues/771

[2019-06-25 16:58] mgautierfr commented on #36
There is zim-tools in recent nightly directories.
I'm closing the issue.

[2019-06-25 16:58] #36 closed

[2019-06-29 18:39] kelson42 commented on #44
Same for `tel:` links

[2019-07-06 10:58] kelson42 opened #47 "Rename `*.cpp` files to lowercase (like the binaries)"
The files:
[code]

should be renamed to:
[code]

[2019-07-06 15:06] kelson42 opened #50 "zimcheck complains but gives no hint"
With http://tmp.kiwix.org/wikipedia_en_articles_2019-07.zim
[code]

We have an error, but nothing is written!

[2019-07-07 15:35] kelson42 opened #52 "Add the support of node track to check for internal URLs"
See https://developer.mozilla.org/fr/docs/Web/HTML/Element/track

[2019-07-12 09:57] kelson42 commented on #52
In fact that already works

[2019-07-12 09:57] #52 closed

[2019-07-13 09:15] #47 closed

[2019-07-14 07:14] #44 closed

[2019-07-14 07:24] #50 closed

[2019-07-14 07:32] #39 closed

[2019-07-25 20:39] kelson42 commented on #59
I think we should check only within the I namespace.

[2019-07-30 12:46] kelson42 commented on #9
I'm finally in favour to keep both. Even if at the end they might be quite similar. We will see.

[2019-07-30 12:46] #9 closed

[2019-08-04 08:22] ISNIT0 opened #61 "zimcheck incorrectly flagging an internal link"
See my zimcheck output (from latest master):
[code]

Zim file: https://framadrop.org/r/88WTvsGnSe#+ilKbFg9aPasw4bu0GgAgeMl+3G1e11M7uhelUfQ6TI=

The link is followed correctly by Kiwix Mac. This seems like a bug in zimcheck

[2019-08-04 08:41] kelson42 commented on #61
I confirmt that something is buggy here... But not clear so far what exactly.

[2019-08-14 19:23] rgaudin opened #63 "zimdump doesn't report missing articles"
It seems like a reasonable behavior to expect that `-u` raise an error if the requested URL is not found.

I understand how `-f` can be more flexible but without a strict `-u`, there's no easy way to check for the content/existence of an URL
[code]

ATM, the behavior is to send the next article.

[2019-11-08 19:26] lidel opened #68 "zimdump should unescape paths before creating assets"
It seems that filenames in assets directories (`-` and `I`) are not unescaped (`%2f` should be `/`) and filenames end up at the top level directory with invalid names:

[code]

I believe `s%2fcss_modules%2fcontent.parsoid.css` should be `s/css_modules/content.parsoid.css`, because that is what HTML in `A/*` articles expects:

[code]

[2019-11-08 20:53] lidel opened #69 "zimdump performance"
`zimdump` feels slower than it could be.
Below some notes from my tests and ideas how to improve its performance.

## Single thread? Lack of buffer in front of disk writes?

I have SSD but my disk I/O remains pretty slow (`iotop` shows pretty slow disk writes at `<400 K/s`!).
Tool seems to be limited by the CPU: a single core is used and is constantly at 100%. Remaining 7 cores remain unused. Look

[2019-11-09 15:31] kelson42 commented on #69
@lidel Thank you for this quality ticket, I'm supportive. Will do my best to get this don in January.

[2020-01-07 01:02] momack2 commented on #69
Thanks @kelson42!! Curious how things are evolving now that we're in the new year - is this still on your agenda this month?

[2020-01-07 10:50] kelson42 commented on #69
@momack2 I would like, but we are a bit short on C++ resources currently. It has been posponed to Febuary for the moment. If you can recommend someone, please tell us!

[2020-01-07 20:40] momack2 commented on #69
I don't know of any C++ devs with bandwidth, but @jnthnvctr might be able to suggest other routes to get this work increased attention. We'd really love to update our distributed wikipedia mirror with snapshots more recent than 2017... ;)

[2020-01-08 08:32] kelson42 commented on #69
@momack2 It is just a "small" delay and working already to find someone. Maybe you can retweet https://twitter.com/KiwixOffline/status/1214826834417860609

[2020-01-08 10:42] mgautierfr commented on #69
I didn't know about `extract_zim` tool. It's nice to see some rust around zim (even if it is not maintained anymore).

I agree with this ticket, `zim_tools` is a small set of tools and we can improve it a lot.
Looping articles based on the cluster index order instead of the url order is already used in `zimrecreate` tool. It should not be too difficult to reuse it.
At least we would use the libzim

[2020-01-14 12:58] orionseye commented on #68
Unbelievable this has not being implemented, i was hit by a dinosaur looking at the extracted results :)
This is must have..please?

[2020-01-14 14:22] orionseye commented on #69
Heads up for that.
extract_zim is a beautiful, lightning fast tool.
Took no longer than 1 min to install and run...then extract wikipedia .zim (800MB) in less than ....guess?

Structure?
avoiding zimdump's URI encoded file format, instead it 'reads' the URI part and creates a wonderful file structure. For example, directory '-'
/j
/s
favicon
style.css

[2020-01-14 15:01] mgautierfr opened #70 "Rewrite API of zimdump."
Zimdump is a pretty old tool. It was mainly used a debug tools. Its API is very odd and performance is the last of this feature.

There is a lot of issue about zimdump. Some about the odd API (#63, #4), some about using zimdump as a "real" tool and not just a debug tool (#69, #24, #68).
In both case, we should rethink the API of the tool.

There are different actions done by zimdump :
- Print zim

[2020-01-16 03:45] momack2 commented on #69
@dignifiedquire - just FYI your past work is getting some ❤️

[2020-01-19 23:33] dignifiedquire commented on #69
Just made some updates which fixes some missed files, though I still have to investigate what exactly the diff between the two tools in output is. I also made it a bit faster.

[code]

[2020-02-05 11:29] kelson42 commented on #69
@mgautierfr Considering that this ticket will need to get the articles in the order they are in the files (to save cluster decompression and that this is as well needed by (at least) `zimrecreate` and `zimcheck` I think it would be smart to deliver this kind of iterator within the libzim. Please confirm.

[2020-02-13 13:44] rgaudin opened #99 "incorrect rewriting of link to `/` in zimwriterfs"
When linking to `/`, zimwriterfs rewrites it to `/I`.

Example:

[code]

**Note:** linking to `/` from within a ZIM is a bad practice as the result is unpredicatble and probably not wanted but I see no reason for it to rewrite to `/I`.

**reproduce with:**

[code]

[2020-03-04 15:00] kelson42 commented on #69
Most important part of the improvement will be achieved by implementing https://github.com/openzim/libzim/issues/300

[2020-03-21 16:30] move[bot] opened #73 "I need command line zimdump compiled please help me"
*@sami8github commented on Mar 21, 2020, 4:18 PM UTC:*

I want to extract the content of zim file please help me
I need command line zimdump compiled (executable)
please help me

*This issue was moved by [kelson42](https://github.com/kelson42) from [openzim/python-libzim#1](https://github.com/openzim/python-libzim/issues/1).*

[2020-03-21 16:31] kelson42 commented on #73
@sami8github Here are they https://download.openzim.org/release/zim-tools/

[2020-03-21 16:31] #73 closed

[2020-03-24 08:37] kelson42 opened #74 "Introduce new tool zimtweak to manipulate a ZIM file"
One of the problem we have with custom apps is that the content tends to be too big. But part of it is unused, I'm talking about the fulltext index (not the title index in Xapian format).

I propose to introduce a tool which would be able to remove a specific article easily/quickly.

This tool could could be then extended to add other features (like add an article).

[2020-03-24 08:37] kelson42 commented on #74
@mgautierfr Feedback welcome on this idea.

[2020-03-30 16:30] kelson42 opened #75 "Github action README.md badge is not updated"
The badge is not refreshed each time a new commit is done on master branch.

[2020-03-31 14:47] veloman-yunkan opened #77 "Wrong timekeeping in zimbench"
In zimbench, time calculation from seconds+nanoseconds to milliseconds is carried out assuming that 1 ms == 1000 ns:

- https://github.com/openzim/zim-tools/blob/e2cb9cb9be0fe9739581d31f86613f7df17eea1a/src/zimbench.cpp#L153
- https://github.com/openzim/zim-tools/blob/e2cb9cb9be0fe9739581d31f86613f7df17eea1a/src/zimbench.cpp#L166
- https://github.com/openzim/zim-tools/blob/e2cb9cb9be0fe9739581d31f

[2020-03-31 14:53] data-man commented on #77
Should be rewritten using `std::chrono::steady_clock::now`.

[2020-03-31 15:42] veloman-yunkan opened #78 "zimbench segfaults in the random access benchmark"
In the random access loop in `zimbench.cpp` the result of `file.getArticle()` is used without a check: https://github.com/openzim/zim-tools/blob/e2cb9cb9be0fe9739581d31f86613f7df17eea1a/src/zimbench.cpp#L181-L182

An "inline PR" follows:

[code]

[2020-04-01 10:52] kelson42 commented on #74
@mgautierfr Or maybe this should be an option of zimrecreate?

[2020-04-01 16:59] #75 closed

[2020-04-03 17:48] rhazegh opened #81 "Have zimdump to break down the files into multiple folders"
I am using zimdump to extract html files from https://download.kiwix.org/zim/wikipedia/wikipedia_en_all_nopic_2019-12.zim which has 14 million articles in it.

Having 14M files in one folder makes the handling and maintenance of them difficult.
- Is there any way to extract the files into multiple folders?
- Is there any way to extract files based on their index? For example in one terminal run zi

[2020-04-04 14:43] move[bot] opened #82 "Add a --compression option in zimrecreate"
*@kelson42 commented on Apr 4, 2020, 9:16 AM UTC:*

Per default, the original file compression should be used. But if `--compression` is specified, then this compression should be used in place.

*This issue was moved by [kelson42](https://github.com/kelson42) from [kiwix/kiwix-tools#372](https://github.com/kiwix/kiwix-tools/issues/372).*

[2020-04-06 17:50] mgautierfr commented on #74
This could be interesting, but it s not so easy.

Adding or removing an article means that we have to rewrite all the index part (urlPtrPos, titleIndex, dirent, clusterPtrPos, ...) and all of them are internal to the libzim
Removing may be a bit more simple has we could simply remove the cluster without changing the indexes and mark the article as deleted in the dirent (at least a use case for thi

[2020-04-08 13:16] #24 closed

[2020-04-08 13:31] #77 closed

[2020-04-08 13:31] #78 closed

[2020-04-12 09:10] kelson42 opened #86 "Zimcheck does not handle internal links with local anchor properly"
Checking a `physics.stackexchange.com_en_all_2020-04.zim`, it reports a lot of wrong fals positive bad internal links:
[code]

The reason is that `zimcheck` does not remove the local anchor before checking the link. This is wrong, it should.

[2020-04-20 12:55] kelson42 opened #98 "Build a minimal CI and unit test for zimwriterfs"
* Using gtest
* Github action
* Generating code coverage with codecove.io
* Using zimdump for checking output

[2020-04-29 07:16] kelson42 opened #90 "Logs might be so big that the scraper get short on storage"
We should see if we can do something smart to improve the situation.

[2020-04-29 07:18] kelson42 commented on #90
We had two recent cases here:
* https://farm.openzim.org/pipeline/5e9addc5a3c3c34e0ed1395e
* https://farm.openzim.org/pipeline/5ea3cb05c2f89d3180f0a6a4

@rgaudin Do you see something we could do easily? Would that be possible to configure Docker to keep only a certain amount of logs and because we upload the logs regurlarly we would still have the whole log available from the Zimfarm?

[2020-05-02 09:10] kelson42 opened #91 "Zimcheck crach scenario"
$ zimcheck edutechwiki_fr_all_maxi_2020-05.zim
[INFO] Checking zim file edutechwiki_fr_all_maxi_2020-05.zim
[INFO] Verifying Internal Checksum..
  [INFO] Internal checksum found correct
[INFO] Searching for metadata entries..
[INFO] Searching for Favicon..
[INFO] Searching for main page..
[INFO] Verifying Articles' content..
basic_string::_M_replace_aux
$ echo $?
2
[code]

[2020-05-02 09:12] kelson42 opened #92 "Move zimwriterfs to zim-tools repo"
This would simplify a few things.

[2020-05-02 09:12] kelson42 commented on #92
@MiguelRocha @mgautierfr @rgaudin Comments?

[2020-05-03 17:48] MiguelRocha commented on #92
Makes sense in my opinion.

[2020-05-03 17:52] data-man commented on #92
Why are there even a few apps?
Why not one app (zim) with subcommands (create, test, etc.)?

[2020-05-04 09:53] mgautierfr commented on #92
Yes we could move zimwriterfs in zim-tools.

I have no particular opinion about merging the tools in one.

[2020-05-04 15:23] MiguelRocha commented on #91
_**pre analysis:**_
It seems to be an issue with a validation of title size at direct.cpp:
[code]
some hints about the dirent in question:
- ns = A
- url = "Apprentissage_collaboratif/Les_interactions_dans_l'apprentissage_collaboratif/Grille_(remplacez_par_qc.)Apprentissage_collaboratif/Les_interactions_dans_l'apprentissage_collaboratif_-_Katrine_Briguet"
- redirect = true

[2020-05-04 15:29] mgautierfr commented on #91
Hum, it is surprising. This should be catched here : https://github.com/openzim/libzim/blob/master/src/fileimpl.cpp#L315-L345

[2020-05-04 15:31] #23 closed

[2020-05-04 15:32] kelson42 commented on #91
@mgautierfr @MiguelRocha Thank you to both of you for your quick feedback. I was not too worry of this bug because this is in `zimcheck` so impact limited and not cutting edge code... but of course, if the bug has its root in libzim then priority is of course higher!

[2020-05-04 15:34] mgautierfr commented on #91
I suppose we have the same crash if we try to access the article in kiwix-serve.

[2020-05-04 16:46] kelson42 commented on #91
Seems to work fine:
[code]

[2020-05-04 16:57] kelson42 commented on #92
Not sure about that. This is an idea. But definitive an other topic.

[2020-05-04 16:59] kelson42 opened #93 "Have only one ZIM tool"
Following a comment on an other ticket https://github.com/openzim/zim-tools/issues/92#issuecomment-623152232, it has been proposed to make only one tool.

[2020-05-04 17:01] kelson42 commented on #93
I'm not really in favour ot hat because:
* It is against the principle one command -> on purpose
* It will make a quite complex tool
* This need a bit of work to merge everything without real/immediate value for the user
* The idea of making a few of our ZIM tools in Python would then be impossible

That said we could use the approach got `git` which might be able to offer all the advantages: one

[2020-05-07 13:45] kelson42 commented on #91
After discussing with @mgautierfr and @MiguelRocha it seems to be a bug in the libzim.

[2020-05-07 13:45] kelson42 commented on #91
/move openzim/libzim

[2020-05-07 13:47] kelson42 commented on #91
/move openzim/libzim

[2020-05-11 14:14] mgautierfr commented on #91
It seems it is not a problem relative to `InvalidSize` exception.

The crash is in zim-tools (https://github.com/openzim/zim-tools/blob/master/src/zimcheck.cpp#L211) where we try to normalize `../../../../file.js` using the base url `A`).

[2020-05-14 13:06] kelson42 commented on #69
@lidel The zimdump speed has been improved a lot (around 15x) but without adding multithreading. The reason is that we need to revamp our libzim cache strategy to really benefit of it in zimdump. For the moment this is on hold and I will move it out the IPFS project as I believe the speed is acceptable now.

[2020-05-14 14:22] lidel commented on #69
@kelson42 I can confirm, it is now within the same order of magnitude as the rust library, and can be used for practical purposes.

`wikipedia_tr_all_maxi_2020-04.zim` (4.4G):

- [dignifiedquire/zim](https://github.com/dignifiedquire/zim/): 1m13s
- zimdump v1.1.1: 2m8s

Still slower, but that will change with multithreading.

[2020-05-14 18:31] kelson42 commented on #69
@lidel Thx for sharing the benchmark.

[2020-05-22 08:10] kelson42 commented on #70
@mgautierfr @MiguelRocha To me this is how it should looks like:
[code]

It is a lot simplier that what we ever had before but should do the job. I don't think I have forgotten something important. Le me know if I have or if something is unclear.

[2020-05-25 08:54] mgautierfr commented on #70
Here few remarks, I don't know if it is intended or not :

- It would be not possible to search for an article by title.
- `info` was used to print "medatada" about a specific article. We should be able to use filters with it.
- What is `ls` command output ? Url, Title, "table" ?
- Does filter are "exact match" or we can use wilcards ? It would be pretty difficult to implement wilcard efficiently

[2020-05-25 09:38] kelson42 commented on #70
Yes, I never use this and this is to me somewhoe a duplicate of `zimsearch` and `kiwix-search`. That said if someone really needs it... we can keep it.

This is what `list` should do. `list` without printing details (but not content) about the articles does not really make sense IMO.

Everything necessary. This is like `-i -l` for the current one.

It should be exact match (I guess you mean for th

[2020-05-25 12:00] mgautierfr commented on #70
I have used `list` to list the articles in a zim file and then use info to have information about a specific article.
I am not again using `list` to have information about an article but it would be nice to keep the feature to list the article in a zim file (filtering is not necessary here, you can use grep/less/... to do it).

I realize that with https://github.com/openzim/libzim/issues/325, the

[2020-05-25 12:25] kelson42 commented on #70
I understand what you mean. Maybe we could print only the URL (+namespace?) per default and keep `--metadata` to print other details ?

Even if this is important to keep that point in mind, I would prefer not to talk about that now (the problem is complex enough and I don't think this something wee need absolutely to talk about now). One important thing about the "dump" action: depending which nam

[2020-05-25 13:22] mgautierfr commented on #70
Yes, seems good.

I miss the use case of dumping a specific namespace. The "exact match" dupe me. So `--dir` and --namespace` together are valid.
But what is the behavior of `zimdump dump --dir mydir --url foo.htm zimfile` ?

That a good question, and I don't have the answer :)
Let's keep the `--namespace` and `--url` (short url). When we will move to openzim/libzim#235, it will be simpler to just

[2020-05-26 18:40] Dalton-Overlin opened #97 "Issue using zimdump to extract zim file."
Hello, I am using the latest release of zim-tools on Ubuntu 18.04 LTS x64 bit with 7.7 gigs of ram and an i7 processor.

The issue is I am trying to dump the contents of a zim file I downloaded from kiwix, from this link: http://download.kiwix.org/zim/wikipedia_en_all_maxi.zim

I used this command below to call zimdump to extract the contents to a folder.

zimdump "/media/nichola/26C65A13C659E419/

[2020-05-27 07:23] kelson42 commented on #97
@MiguelRocha Not sure if this is a bug in the ZIM file (quite old now) or in the libzim/zimdump. Would you be able to enlight us?

[2020-05-27 08:03] mgautierfr commented on #97
A mimetype 65535 (0xffff) is a redirect article.
I don't know what is the exact issue here, but it is probably something related to redirection.

It is probably a bug in zimdump.

[2020-05-27 18:26] Dalton-Overlin commented on #97
Is there an argument to pass to zimdump to output debug data? That way I could share the debug data here if that's an option?

[2020-05-28 08:46] kelson42 commented on #97
@Dalton-Overlin Not so far I know, we have here a bug IMO zimdump. This will be fixed soon, but this still might take a few weeks. We are really commited to allow a proper dumping of WPEN full and this is why we currently work to revamp the zimdump tool.

[2020-05-28 22:19] Dalton-Overlin commented on #97
Sounds good, I will be patient and wait for the bug fix to emerge and then try again. Would you like me to close this thread (since your aware of the bug) or leave it open until the bug is formally fixed?

[2020-05-30 06:41] kelson42 commented on #97
@Dalton-Overlin Thx, wee need to keep that ticket open.

[2020-05-30 19:04] Dalton-Overlin commented on #97
@kelson42 Your welcome, sounds good. :)

[2020-06-01 05:13] kelson42 commented on #70
After discussion with @mgautierfr we came to this:

[code]

So we always work on the content namespaces per default, ie (A, I, -) for the moment and only one in the future. `ls` prints only (short) URL per default, all the details with `--details`.

[2020-06-01 10:36] mgautierfr commented on #70
As we use docopt and this force a standard help message, the help message should be :
[code]

I add :
- the command `list` as a alias to `ls`
- the return value.

I've also separate the case where we dump several articles (and so we need the option `--dir`) from where we dump the content of only one article (and so we dump on standard output).

I hope we all agree now.

[2020-06-03 10:06] MiguelRocha commented on #70
@mgautierfr @kelson42 thanks for the requirements.

If I understand correctly the details are used for printing metainfo about the article such as title, idx, type etc. In the old version we also have "extra" which is used to print parameter information about the article. Should we maintain this option or drop it?

[2020-06-03 10:08] mgautierfr commented on #70
The old `extra` is replaced by `details`.

[2020-06-03 15:30] kelson42 commented on #97
@Dalton-Overlin BTW, which version of the zimdump do you use?

[2020-06-06 23:21] Dalton-Overlin commented on #97
@kelson42 Sorry for the delayed response, I am using the zimdump version that's present in zim-tools 1.2.1. From this release: https://github.com/openzim/zim-tools/releases/tag/1.2.1

[2020-06-07 08:47] asashnov commented on #92
What to do with **zimwriterfs-in-docker** script then?
https://github.com/openzim/zimwriterfs/blob/master/contrib/zimwriterfs-in-docker

[2020-06-07 08:54] rgaudin commented on #92
This can go away now that we have (almost) a libzim bin for macos. we’ll also distribute macos zimwriterfs

[2020-06-07 09:06] kelson42 commented on #92
@asashnov but keep the `docker` directory please, I will update the automatic build in hub.docker.com.

[2020-06-07 12:55] #59 closed

[2020-06-07 12:55] #99 closed

[2020-06-07 13:16] kelson42 commented on #101
@asashnov Would be happy if this error message coudl be done quickly so we can finally close that ticket.

[2020-06-07 13:30] kelson42 commented on #102
There are many cases here:
* symlink to file which is going to end in the ZIM file, here we need to create a redirect entry
* symlink which is broken or pointing to a file which won't be packaged in the ZIM file should generated an error and stop the process
* I would not do any special treatment for loops

@asashnov I don't understand properly your comment at this is is at the code level. But I d

[2020-06-07 13:41] kelson42 commented on #103
@dattaz @asashnov I don't really understand the problem here. I is clear that all the paths given are *within the Docker container* and not the one of the master system. The problem is the same for all paths!? To me there is nothing to do except a documentation like I have done for example here https://github.com/kiwix/kiwix-tools/tree/master/docker/server (case is simplier but the same otherwise)

[2020-06-08 04:35] asashnov commented on #92
An idea: we can distribute zim-tools as an AppImage package on Linux, so it can be run like:
[code]
It will consume less disk space then statically linked binaries, as dynamic libraries will be put inside of AppImage archive once.

[2020-06-09 12:27] kelson42 commented on #4
@MiguelRocha I believe this ticket should be automatically fixed by your work these days.

[2020-06-09 12:28] kelson42 commented on #63
@MiguelRocha I think as well that this should be fixed with the rewritting you are doing. Please let me know if not.

[2020-06-12 10:36] kelson42 commented on #63
Good to me if the problem is fixed in the next months anyway. Thank you both for your feedback.

[2020-06-19 16:31] c0nsumer opened #105 "zimdump image filename output includes %2f instead of creating subdirectory."
I have a ZIM file which contains the output of https://nuxx.net/w/ and this works fine in kiwix-desktop.

I dumped the ZIM file to disk using `zimdump -D outfile.zim`.

Image files from the posts, in the `I` subdirectory, are prefixed with `m%2f` instead of being placed in a `.../m/` subdirectory. The `<img>` links within the HTML pages reference `../I/m/` resulting in the images not loading.

For

[2020-06-19 16:35] c0nsumer commented on #105
Note, creating the `.../m/` subdirectory then using `rename 's/.{4}(.*)/m\/$1/' *` handles the issue post-extraction.

[2020-06-19 16:39] c0nsumer commented on #105
This also appears to happen with content under `.../-/`. Eg:

[code]

[2020-06-19 17:08] kelson42 commented on #105
@c0nsumer Duplicate of #68?

[2020-06-19 17:09] c0nsumer commented on #105
Shoot, yes. Sorry. It's exactly a dupe. Just described differently. I'll close this.

[2020-06-19 17:09] #105 closed

[2020-06-27 18:23] Pyanz60 opened #107 "I don't **fox** issues :) but no I didn't fix anything related to this. actually the UI code hasn't been touched in a long time. I'll mark it as needing a reprocase and we'll look at it when someone encounters it."
I don't **fox** issues :) but no I didn't fix anything related to this. actually the UI code hasn't been touched in a long time. I'll mark it as needing a reprocase and we'll look at it when someone encounters it.

_Originally posted by @rgaudin in https://github.com/openzim/zimfarm/issues/387#issuecomment-588214634_

[2020-06-27 20:50] kelson42 commented on #107
I don’t get what this ticket is about.

[2020-06-29 08:38] #107 closed

[2020-06-29 13:44] kelson42 opened #108 "Machine readable exception log for zimdump (for dumping all content)"
We need that otherwise there is no way to know which files have generated an exception! See discussion at https://github.com/openzim/zim-tools/pull/85#issuecomment-649738223

[2020-06-30 13:48] #68 closed

[2020-07-03 05:37] legoktm opened #110 "Add one line descriptions of each tool"
I'm preparing zim-tools for packaging in Debian, which wants each binary to have a man page. It would help me (and users primarily) if each tool had a one line description of its purpose in the help output. Some already do, but these are missing them:

* zimbench
* zimdump
* zimsearch
* zimsplit

[2020-07-03 06:59] legoktm opened #112 "LICENSE is GPLv3 but most files are GPLv2+"
All of the files in src/ are GPLv2+ (except one LGPL file) but LICENSE is GPLv3+. This is not a problem of course since v2+ is compatible with v3+, but maybe LICENSE should have the GPLv2 in it, or the files should have their headers updated to GPLv3+?

For reference:
[code]

[2020-07-03 07:17] legoktm commented on #110
Here are the descriptions I went with for now:
* benchmark a ZIM file
* dump a ZIM file
* search a ZIM file
* split a ZIM file into smaller parts

[2020-07-04 13:32] kelson42 commented on #112
This should be GPL3+, everything we do, except for the libzim is GPL3+.

[2020-07-05 16:18] kelson42 commented on #61
It is impossible to reproduce the problem.

[2020-07-05 16:18] #61 closed

[2020-07-06 07:46] #92 closed

[2020-07-08 14:52] #4 closed

[2020-07-08 14:52] #70 closed

[2020-07-08 15:02] rgaudin opened #115 "Add support for compression selection"
With the [configurable compression in the libzim](https://github.com/openzim/libzim/pull/363), we should probably have an option on zimwriterfs command line to select it as well.

[2020-07-09 13:36] mgautierfr commented on #63
This should be fixed with the last PR of @MiguelRocha #89

[2020-07-09 13:36] #63 closed

[2020-07-10 14:57] kelson42 commented on #12
We will do that, follow https://github.com/openzim/warc2zim/

[2020-07-10 14:57] #12 closed

[2020-07-11 11:46] kelson42 commented on #103
@rgaudin Maybe you have an opinion on that one as I don’t get any feedback?

[2020-07-11 11:53] kelson42 commented on #97
@Dalton-Overlin Thank you for your patience on this ticket. The ZIM file you deal with is a bit old and we have released a new one from the same content... but updated at http://download.kiwix.org/zim/wikipedia/wikipedia_en_all_maxi_2020-06.zim. We have as well made massive improvements on zimdump and even if not released yet, it is available at nightly here http://download.openzim.org/nightly/202

[2020-07-11 12:02] rgaudin commented on #103
I don't see the value of this. I'm not in favor of hiding the VM-nature of docker and the need for volumes. This is unexpected, complicated and will lead to problems and more maintenance. The benefit doesn't match the efforts.
Should one see the need for this, one can write a small script that would do this and invoke docker run. That's be cleaner and simpler.

This tickets is 3y+ old. Should we c

[2020-07-11 12:23] #103 closed

[2020-07-11 14:56] rgaudin opened #116 "zimwriterfs creates invalid ZIM files"
zimwriterfs `1.3.9` and `1.3.10` create ZIM files in a non-atomic manner : the file is named/renamed to `xxx.zim` while data is being added to it.

This is a forbidden behavior (discussed in several tickets). Main consequence is that tools watching creation of ZIM files in scrapers are triggered too early.

Version `1.3.7` and `1.3.8` are not affected.

[2020-07-11 15:51] kelson42 commented on #116
@mgautierfr To me this looks like again to a weak/unclear finalisation process like already reported here https://github.com/openzim/libzim/issues/348 or https://github.com/openzim/libzim/issues/331.

[2020-07-11 21:26] Dalton-Overlin commented on #97
@kelson42 Your welcome and I did as you asked. I downloaded the new ZIM file, the nightly build, used the new zimdump, and good news! It works as expected! Using Ubuntu 18.04 LTS x64 to run zimdump, the files extracted as they should, they are viewable, and it yielded no errors when using the new nightly build. I thank you all very much for taking the time to work on and fix the issue, I really ap

[2020-07-12 04:52] kelson42 commented on #97
Great news. Yes we can close the ticket.

[2020-07-12 04:52] #97 closed

[2020-07-13 09:55] mgautierfr commented on #116
I'm really surprise about the behavior. The rename is made at the last end of `finishZimCreation` (https://github.com/openzim/libzim/blob/master/src/writer/creator.cpp#L238). You can even see that we close the file descriptor of the temporary file (`*.zim.tmp`) before renaming it.

[2020-07-13 09:56] rgaudin commented on #116
Could you find out which version of libzim was packed in those two zimwriterfs versions?

[2020-07-13 10:05] mgautierfr commented on #116
The `versions.py` file in kiwix-build is our friend here.

The first build of `zimwriterfs-1.3.9` has been made with `libzim-6.1.0` . (https://github.com/kiwix/kiwix-build/commit/bd546fe33e6a80e3648e16e9f80cb62e2a422841#diff-1ab225aa70820615603a523677fbb53e)
`libzim-6.1.0` was indeed not atomic and we fix this with `6.1.3`
From https://github.com/kiwix/kiwix-build/commit/59b03181932db739269a5ac20c

[2020-07-13 10:38] rgaudin commented on #116
Great. I confirm it's OK with 1.3.10-4. Thanks for checking.

[2020-07-13 10:38] #116 closed

[2020-07-14 11:14] MiguelRocha commented on #86
I've run some tests and I didn't find any issue regarding zimcheck not removing the local anchor when validating the links. Here: https://github.com/openzim/zim-tools/blob/9cf6471bf8a8a380d8e7b80bc537c9e77be41940/src/zimcheck.cpp#L228

I found that zimcheck does not validate the anchor at all. @kelson42 should we open a new issue for this enhancement?

[2020-07-14 11:30] MiguelRocha commented on #18
@mgautierfr If I understand correctly there may be Articles in which https://github.com/openzim/libzim/blob/2739d7544a100289b4e954da2ac8d10760c78d0b/src/article.cpp#L137

Throws an exception. (meaning that there are invalid idx). Am I right?

[2020-07-14 11:37] kelson42 commented on #18
@mgautierfr @MiguelRocha Or should we move this to the libzim itself like suggested in https://github.com/openzim/libzim/issues/359?

[2020-07-14 11:46] MiguelRocha commented on #18
@kelson42 yes it seems to make more sense to have an "utility" checking function that is called from zimcheck. Is this what you meant @mgautierfr ?

[2020-07-14 12:10] kelson42 commented on #86
@MiguelRocha I think the bug is still there but the ticket is incomplete. It is not only about local anchor (so something after `#`) but URL arguments (something after `?`). And the problem is still there, see with a smaller file:
[code]

This is an example of error about URL arguments:
[code]

and this is an example of error about local URL anchor:
[code]

@MiguelRocha Please open a separate tick

[2020-07-14 12:38] kelson42 opened #119 "Introduce zimcheck automated testing"
This should be mostly be unit tests (zim independent) and myabe one or two e2e test implying a ZIM file.

[2020-07-14 13:14] MiguelRocha opened #120 "zimcheck local anchor validation"
Add the functionality to zimcheck to validate local html anchors

See #86

[2020-07-14 13:24] #86 closed

[2020-07-14 14:27] kelson42 opened #121 "Remove usage of arg.h"
This is a lot of code used only in one place (in zimsplit I believe) and easily/advantageously replaceable with docopt.

[2020-07-14 14:28] kelson42 commented on #121
@MiguelRocha Would you be able to quickly do that please ? as you are now our docopt expert :)

[2020-07-14 15:04] kelson42 commented on #110
@legoktm
* zimbench - Benchmark a ZIM file reading speed
* zimdump - Inspect & dump a ZIM file content
* zimsearch - Search content in a ZIM file
* zimsplit - Split smartly a ZIM file in smaller parts

[2020-07-15 04:45] #112 closed

[2020-07-15 07:07] kelson42 opened #124 "zimcheck wrong/incomprehensible error message"
[code]

I don't understand at all what goes wrong. If internal links are wrong I should get an error message which tell me:
* wrong URL
* in which article it is

[2020-07-15 07:11] kelson42 commented on #124
@MiguelRocha I suspect here (at least) a bug around the mgmt of the error type based on `errorString` and `TestType`. `errorString` should not be an array, this can so easily be out-of-sync with `TestType`. We should have a more robust solution base on a map or anything else, I let you judge.

[2020-07-15 09:48] kelson42 commented on #124
I believe here the message should be about same content... and if this is confirmed, probably this should be a WARNING, not an ERROR.

[2020-07-15 09:50] mgautierfr commented on #18
Yes, this is an internal problem. Not a "content" problem. It would be better in libzim itself.

Yes, the structural validity of the zim file should be check in libzim (using a public function).
The "content validity" of the zim should be handle elsewhere (zimcheck or other specific tool). `zimcheck` would call the public "validation" function of libzim.

[2020-07-15 09:53] kelson42 commented on #18
To be 100% clear on this proposal, I 100% support it and would like to see a first version of such a method implemented as soon as possible based on the needs express at zimcheck level.

[2020-07-15 10:12] rgaudin commented on #124
Check the source and, contrary to what's stated on the line above, content is not **very similar** but **identical**.
Also believe this should be a passing warning as the spec doesn't prohibit duplicating resources.

Very useful info for scraper makers though ; although in this particular example, probably not worth fixing.

[2020-07-15 11:07] MiguelRocha commented on #18
@mgautierfr do you agree with my first comment?

@kelson42 should we create also an issue in libzim repo?

[2020-07-15 11:20] kelson42 commented on #18
openzim/libzim#359 is enough to start with I believe.

[2020-07-15 11:31] MiguelRocha commented on #124
Yes your are right there is a bug in the error reporting and the current solution is indeed very error prone. The "error" should be "Redundant data found". I'll come up with a solution.

[2020-07-15 12:06] mgautierfr commented on #18
Yes, we should throw an exception. And it would be an invalid file format or equivalent exception.
However, we will not change that in the current API. Next API will throw exception when something goes wrong instead of returning default values.

[2020-07-16 06:38] kelson42 commented on #98
@MiguelRocha @asashnov Please secure your or not doing duplicate work here. One of you needs to make basic CI working with gtest, then each of can work on its specific set of unit tests.

[2020-07-17 08:25] kelson42 opened #126 "Incorrect Mime-type list in an old ZIM file?"
[code]

What wonders me a lot is that this file is 18 months old. It should be OK.

[2020-07-20 09:01] #110 closed

[2020-07-21 09:08] move[bot] opened #128 "Kiwix does not support RFC8081 font mimetypes"
*@rctgamer3 commented on Oct 7, 2019, 10:12 AM UTC:*

As per [RFC 8081](https://tools.ietf.org/html/rfc8081), font mime types were standardised in 2017.

| extension | mimetype |
| --- | --- |
| otf | font/otf |
| sfnt | font/sfnt |
| ttf | font/ttf |
| collection | font/collection |
| woff | font/woff |
| woff2 | font/woff2 |

I suggest adding support for these new mimetypes as listed [here](http

[2020-07-21 14:04] #128 closed

[2020-07-22 13:42] #91 closed

[2020-07-28 08:53] kelson42 commented on #124
I seems that the problem of non-matching error message is still there, see https://github.com/openzim/warc2zim/issues/21:
[code]

I don't believe we have a metadata problem here.

[2020-07-29 09:57] MiguelRocha commented on #124
@mgautierfr true, its not a metadata test. I suggest the following msg for the emptyness check:

`[ERROR] There are empty articles:`

What do you think?

[2020-07-29 10:07] MiguelRocha opened #134 "zimcheck performance improvement"
zimcheck performance is quite important since for big articles can take several minutes (maybe hours).

There are a few performance improvements that can be done in zimcheck specific code:

- Decrease the number of function calls to `getLinks()`
- Improve `getLinks()` performance
- Improve `isExternalUrl()`

The first 2 points are responsible for 18% while the last one takes 20% speedtime.

Also,

[2020-07-29 10:19] kelson42 commented on #124
@MiguelRocha Just `[ERROR] Empty articles:` please

[2020-07-29 10:41] kelson42 commented on #134
@MiguelRocha Good to me to implement. If the amount of changes is subtantial, please split this ticket.

[2020-07-29 13:34] #124 closed

[2020-07-29 15:48] kelson42 commented on #126
@MiguelRocha Could you please make the investigation of what go wrong here please?

[2020-07-29 16:55] kelson42 opened #136 "data: kind of link should not be checked"
See for example:
[code]

[2020-07-29 16:58] kelson42 commented on #136
@MiguelRocha See the documentation https://css-tricks.com/data-uris/. These URLs should simply be ignored.

[2020-07-30 08:20] kelson42 opened #137 "Zimcheck favicon check seems not robust"
Looks like zimcheck just stopps widely if there is no favicon
[code]

[2020-07-30 11:02] #119 closed

[2020-07-30 12:28] #136 closed

[2020-08-03 18:16] kelson42 opened #141 "zimcheck returns code is not 0 even if not error"
[code]
Maybe the warnings are the source of the problem?

[2020-08-03 18:17] kelson42 commented on #141
We should not have `[INFO] Overall Test Status: Fail` log entry either.

[2020-08-14 10:05] veloman-yunkan commented on #134
@MiguelRocha Do you mind if I work on this in combination with optimizations on the libzim side?

[2020-08-14 14:49] kelson42 opened #146 "Incomprehensible ZIM check error about internal links"
[code]

I don't really understand this message. Why we have two empty links?

[2020-08-15 09:24] MiguelRocha commented on #134
@veloman-yunkan please feel free to do it. And let me know if you need any help. I have a draft branch that already fixes the first point that I described and I will create a PR after finishing other issues.

[2020-08-15 09:37] MiguelRocha commented on #146
@kelson42 The article A/Home.html has the following:

[code]

I also find the message incomprehensible. I think that for these cases we should have something like:
`2 empty links found in article A/Home.html`

What do you think?

[2020-08-15 09:52] kelson42 commented on #146
@MiguelRocha Agree.

[2020-08-19 11:54] satyamtg opened #149 "Invalid innternal link error raised for template within <script> tag"
`zimcheck` raises Invalid internal link errors as follows for a image link which is actually a template inside a <script> tag in PHZH ZIM files created by `openedx2zim`. The error looks something like this -
[code]
The script tag within which this template is as follows -
[code]
This results in many false errors as this is present in nearly all HTML files in PHZH ZIMs

[2020-08-19 15:04] MiguelRocha commented on #149
@satyamtg thank you for reporting this issue. Can you please provide the problematic zimfile?

[2020-08-19 16:18] satyamtg commented on #149
@MiguelRocha you can find a ZIM here - https://farm.openzim.org/pipeline/5f3cf02c5684802b46244c2a

[2020-08-21 12:21] veloman-yunkan opened #151 "zimcheck crash with wikipedia_hy_all_mini.zim (was: Large difference in zimcheck performance on two similar ZIM files)"
Originating from https://github.com/openzim/libzim/issues/385#issuecomment-676612384.

`zimcheck -A` performs significantly (more than 2x) slower on the [August version][2] of the **wikipedia_hy_all_mini** ZIM file compared to the [July version][1] of the "same" file:

|   ZIM file     |    size (MB) | article count | cluster count | zimcheck -A runtime (using `zim::Cache`) |  zimcheck -A runtime

[2020-08-26 15:13] #146 closed

[2020-08-27 06:40] kelson42 commented on #149
@rgaudin @MiguelRocha @satyamtg It seems difficult from the `zimcheck` perspective to easily make the difference beetween a template and a "noirmal" HTML page. IMO We are missing here some kind of meta information or something else is wrong. I wonder for example:
* Is this a js template?
* why we have template at all here?
* why this is in considered as a normal HTML article? in `A/`? With the std

[2020-08-27 16:38] satyamtg commented on #149
@kelson42 this is scraped directltly from the instance during fetching of all CSS/JS (i.e. all `script`, `style` and `link` (with `rel="stylesheet"`) tags from the HTML) to apply the instance style on the offline version. It's considered as a normal HTML and is in the `A/` namespace because its written within the HTML in a `<script>` tag, and is not in a separate file.

[2020-08-28 08:28] kelson42 commented on #149
@rgaudin This is a regex parser

[2020-08-28 11:12] kelson42 commented on #69
@mgautierfr @veloman-yunkan @MiguelRocha AFAIK the libzim cache has been improved to allow to get the full potential a multithreading in zimcheck and zimdump in last version 6.2.0. Therefore would that not be a good time t reconsider this ticket?

[2020-08-28 13:43] veloman-yunkan commented on #69
@kelson I can work on this

[2020-08-28 14:09] kelson42 commented on #69
@veloman-yunkan Good for me but @MiguelRocha had started something which I believe is available at https://github.com/openzim/zim-tools/tree/speed-up-zimdump. @MiguelRocha Do you rememember what was the code status here?

[2020-08-30 09:55] MiguelRocha commented on #69
@kelson42 Yes at that time I created a thread pool to handle the decompression of the clusters in a multi-thread way. Since then zimdump changed quite a bit so its just a matter of re basing the branch with master and fixing potential conflicts.

[2020-08-30 10:02] kelson42 commented on #69
@MiguelRocha Thank you for the update
@veloman-yunkan The same multi-threading approach should be used as well for zimcheck.

[2020-08-30 10:58] MiguelRocha opened #154 "zimcheck introduce strong type into reporter class"
Enhancement suggested by @mgautierfr to avoid having to much unamed types (std::pairs of bools).

Details: https://github.com/openzim/zim-tools/pull/145#pullrequestreview-473510164

[2020-09-02 14:40] #141 closed

[2020-09-02 15:15] #151 closed

[2020-09-02 15:47] kelson42 commented on #134
@MiguelRocha Would you be able to move the `isExternalUrl()` in an other ticket please
@veloman-yunkan Thank you for your offer, I propose @MiguelRocha make a PR with what he already has done and then let discuss this ticket again.

[2020-09-05 07:09] go2tom42 opened #157 "zimwriterfs error (Assertion failed at .... libzim_release/src/writer/creator.cpp:297)"
Using zim-tools_linux-x86_64-2.0.0-1 binaries on ubuntu 20.04

zimdump'ed wikispecies_en_all_maxi_2020-06.zim

`zimdump dump --dir=./wikispecies_en_all_maxi_2020-06 wikispecies_en_all_maxi_2020-06.zim`

Then immediately tried to remake a zim file

`zimwriterfs --welcome=A/Main_Page --favicon=-/favicon.png --language=eng --title=mytest --description=ThisIsATest --creator=self --publisher=self --inf

[2020-09-05 08:07] kelson42 commented on #157
@mgautierfr @veloman-yunkan @MiguelRocha Or is that a bug in the libzim? A regression?

[2020-09-05 10:19] MiguelRocha commented on #157
Seems to something wrong with the mime types (too long?)

@go2tom42 can you share the full output and/or `wikispecies_en_all_maxi_2020-06.zim`

I was unable to reproduce with `wikispecies_en_all_maxi_2020-06.zim`

[2020-09-05 16:13] go2tom42 commented on #157
Full output?

File is from
https://archive.org/details/wikispecies_en_all_maxi_2020-06.zim

MD5 for wikispecies_en_all_maxi_2020-06.zim matches one listed on archive.org

Here is output from running zimdump
https://pastebin.com/Uxv5iY3q

Here is output from running zimwriterfs
https://pastebin.com/S1sSyMVP

[2020-09-05 16:28] asashnov commented on #157
@go2tom42 Did you mean running 'zimwriterfs' in different console before 'zimdump' has completed?

[2020-09-05 16:35] go2tom42 commented on #157
No, I waited for zimdump to finish.

[2020-09-07 09:51] #98 closed

[2020-09-10 14:32] #100 closed

[2020-09-15 06:19] kelson42 commented on #157
@asashnov Any news here?

[2020-09-15 09:15] kelson42 commented on #115
I believe we will have to propose a PR ourself here

[2020-09-15 09:20] kelson42 commented on #82
That would really help currently (transition stage beetween xz and zstd)

[2020-09-15 13:26] asashnov commented on #101
Currently, message is the following:
[code]

[2020-09-15 14:39] asashnov commented on #101
It's irrelevant to the code, but may be still interesting in some sence.
www.cdc.gov bounces between HTTP and HTTPS using same index.html filename so we can have clash on disk files while downloading.

<details><summary>Details (spoiler)</summary>

[code]
</details>

[2020-09-16 15:14] MiguelRocha commented on #137
@kelson42 Just checked and zimcheck is not crashing anymore. It seems that this issues was already fixed.

[2020-09-16 15:19] kelson42 commented on #137
Miguel strongly believes this has been fixed previously.

[2020-09-16 15:19] #137 closed

[2020-09-18 17:46] #82 closed

[2020-09-18 17:46] #115 closed

[2020-09-21 15:55] mgautierfr commented on #161
Yes, it would be better in zimcheck.
It the creator, it would be implemented by a check anyway (no real way to detect that nicely).

[2020-09-23 10:30] kelson42 commented on #134
@mgautierfr @MiguelRocha I believe this should not be closed because the following points need to be implemented:
* Improve `getLinks()` performance
* Improve `isExternalUrl()`

[2020-09-23 12:36] mgautierfr commented on #134
Yes, it was automatically closed when I've merged #162.

[2020-09-27 17:53] asashnov commented on #157
Where to get zim-tools binaries now?
The page https://wiki.openzim.org/wiki/Zimdump points to 404 https://www.openzim.org/download/

[2020-09-27 18:06] kelson42 commented on #157
Download.kiwix.org, but you shoukd test agInst our own code IMO.

[2020-09-30 09:51] #102 closed

[2020-09-30 10:45] kelson42 commented on #101
I guess we ca close this ticket.

[2020-09-30 10:45] #101 closed

[2020-10-04 02:45] kelson42 commented on #157
@asashnov Any news here?

[2020-10-07 15:21] kelson42 commented on #134
There is no obvious and consensual solution to optimize `getLinks()` and `isExternalUrl()`. Closing for the moment and we will open a new ticket if a clear (speed?) problem happens again.

[2020-10-07 15:21] #134 closed

[2020-10-10 11:58] kelson42 opened #164 "zimcheck --progress is an unknown option"
To the contrary to what the usage() says:
[code]

[2020-10-10 14:39] kelson42 opened #166 "Never-ending zimcheck run...."
With https://download.kiwix.org/zim/wikipedia/wikipedia_arz_all_maxi_2020-10.zim
[code]

[2020-10-10 14:40] kelson42 commented on #166
@MiguelRocha I have to add this new urgent finding/bug. Was blocking the whole ZIM quarantine!

[2020-10-14 11:52] MiguelRocha commented on #166
@kelson42 the cause for this may be that the code for this check is indeed very inefficient. I have some ideas that shouldn't take much effort to increase the performance here.

Also the --progress option can give us more feedback

[2020-10-20 13:24] #164 closed

[2020-10-20 13:34] kelson42 commented on #126
@MiguelRocha Have you find out what goes wrong with this file?

[2020-10-26 13:13] Moore123 opened #167 "src/meson.build for zimdump"
in  src/meson.build  file for zimdump build

 _dependencies: libzim_dep,_

 should be

 _dependencies: [libzim_dep, docopt_dep],_

[2020-10-26 13:32] kelson42 commented on #167
Seems to be the case already https://github.com/openzim/zim-tools/blob/master/src/meson.build#L14

[2020-10-26 14:54] #167 closed

[2020-10-27 22:29] ttsiodras commented on #126
Seconded - I built kiwix-tools from source, and...

- version 3.1.2 of kiwix-serve reports:

    $ kiwix-serve stackoverflow.com_en_all_2019-02.zim
    Unable to add the ZIM file 'stackoverflow.com_en_all_2019-02.zim' to the internal library

- zimcheck v2.0.0 reports:

    $ zimcheck stackoverflow.com_en_all_2019-02.zim
    [INFO] Checking zim file stackoverflow.com_en_all_2019-02.zim
    Error g

[2020-10-28 18:17] MiguelRocha commented on #126
The mimetype list in this file is huge:

(taken from a debug session in libzim structures:)
[code]

And most of its values do not seem to be valid mimetypes at all. There was some issue while creating this zimfile.

[2020-10-29 10:59] asashnov opened #170 "zimdump: no option to list namespaces in .zim file"
Program: zimdump (for zim-tools)
Version: current master (243e869d)

There is no option to list namespaces from .zim file.

## Actual result:

[code]

## Expected result:

There should be an option which iterates every 'Directory Entry' in .zim file and print uniq list of discovered namespaces like:

[code]

The output of this command can be used in further calls of `zimdump list` to specify `--ns

[2020-10-29 11:01] asashnov opened #171 "zimdump list --ns=<N> doesn't work as a filter"
Program: zimdump (for zim-tools)
Version: current master (243e869)

## Actual result:

The output of those commands below are equal:

[code]

## Expected result:

[code]

I expect --ns=<N> to work as a filter, listing entries only from the specified namespace, skipping the others.

[2020-10-29 11:16] asashnov opened #172 "zimwriterfs should store its version and command line arguments into .zim as metadata"
zimwriterfs should store its version and command line arguments into .zim as metadata `ZimWriterFs` entry, for example:

[code]

This is needed to debug and reproduce bugs in existing .zim files. For example, `wikispecies_en_all_maxi_2020-06.zim` (2.2 Gb, md5 starts with d14fb2c7) when extracted, contains a lot of unrecognized HTML redirect files:
[code]

witn content (A.Alfaro):
[code]

If it is

[2020-10-29 11:32] asashnov opened #173 "zimdump list --details works too long"
Version: current master (243e869d)

## Actual result:

[code]
Works for more than 15 minutes, the output size is 15 Mb at the moment.

Strace log for about 7 seconds of its run:

[code]

[strace.txt](https://github.com/openzim/zim-tools/files/5458041/strace.txt)

I can't believe it really takes that long to extract all the 'Directory' clusters. I suspect some operations are did twice, for extracti

[2020-10-29 13:29] asashnov commented on #157
The problem here is that `zimwriterfs` kind of 'cycles' when the output .zim file directory matches with HTML input source directory. Here is my experiment:

It takes about 20 seconds to repack a small 33 mb file:

Extract some .zim file first:
[code]
(33 Mb, md5sum starts with 366d22bd)

Pack normally, with resulting .zim outside of input HTML directory:
[code]

The above works fine, about 20 sec

[2020-10-29 16:34] asashnov commented on #157
When compare `zimwriterfs` output, in case of using HTML source directory as an output directory two additional lines of output printed:

[code]
Then the process just gets stuck, without any significant difference in output.

So, to fix this issue, we should either:
* prohibit to use input HTML directory as an output for .zim file;
* or note and skip temporary files while iterating the directory.

[2020-10-29 16:53] asashnov opened #174 "zimwriterfs doesn't clean up its temporary files on Ctrl+C"
Version: curent master (243e869d)

## Steps to reproduce:

1. Prepare some HTML input directory, or extract existing .zim file as an example of content which takes some time to compress. For example:

[code]
(33 Mb, md5sum starts with 366d22bd,  it will take about 20 sec to compress it back)

2. Start .zim file creation:

[code]

3. Interrupt the process with Ctrl+C after few seconds. More files w

[2020-10-29 17:14] asashnov opened #175 "zimwriterfs: no any warning or notice if target .zim file existed before"
Version: current master (243e869d)

## Steps to reproduce:

1. run `zimwriterfs` to create some .zim file, for example, using steps from #174

2. wait until the process of creation .zim file complete

3. run the same `zimwriterfs` command again with the same resulting .zim

4. wait until the process completed. Compare the console output from first and second case.

## Actual result:

`zimwriterfs`

[2020-10-30 05:33] asashnov commented on #157
Because of this, I think it's still usefull to see where exactly zimwriterfs get stuck when processing a directory with zimwriterfs temporary files inside.

[2020-10-30 06:13] asashnov opened #176 "zimwriterfs: finish message looks too crypted"
Version: current master (243e869d)

When .zim creation finished some statistic is printed out. Without looking into the code it's not possible to understand what those numbers stays for:

[code]

## Expected result:

[code]

## Additional information:

They are printed from zim-tools/src/writer/creator.cpp:
[code]

So I we, developers, don't use `data->CC`, `data->UC`, and so on variable names, wh

[2020-10-30 09:08] asashnov opened #177 "zimwritefs stuck (doesn't stop) when running out of free disk space"
Version: current master (243e869d)

## Steps to reproduce

1. Prepare some not tiny HTML content, 66 mb is OK:
[code]
(source .zim 33 Mb, md5sum starts with 366d22bd)

2. Prepare a small volume where we will place our resulting .zim with its temporary files:

[code]
3. Try to create .zim file inside this small volume:

[code]

4. In another console monitor the free space in the volume:
[code]

##

[2020-10-30 09:12] asashnov commented on #157
I suspected in this issue the user experienced running out of free disk space, because their output (from https://pastebin.com/S1sSyMVP) contains repeatedly:

[code]

But it is not a case. No repeated output on lack of free space (#177).

[2020-10-30 13:29] #121 closed

[2020-10-30 13:35] kelson42 commented on #166
@MiguelRocha Have you found the root cause meanwhile?

[2020-10-30 13:37] kelson42 commented on #126
@MiguelRocha So https://github.com/openzim/libzim/pull/425 would detect the problem?

[2020-10-30 13:46] kelson42 commented on #173
@asashnov I assume you have cutting edge version of both libzim and zim-tools?

[2020-10-30 13:55] kelson42 commented on #173
@asashnov I can not confirmed your measure. Here are my results made with my workstation 7 years old, ZIM file on a relatively slow hard-disk and output on `/dev/shm`. Cutting edge code of both libzim/zim-tools with a more recent ZIM file.

[code]

To me there is no problem, I get what looks to be the same output in 2mn. So there is problem somewhere here, either you use quite old libzim or there

[2020-10-30 13:57] kelson42 commented on #171
I believe I can confirm this problem I was already impacted myself. Is that easy to fix?

[2020-10-30 13:59] kelson42 commented on #170
@mgautierfr Still not absolutly sure this is or will be a good idea to implement this. Do you see the value of this on a longer term?

[2020-10-30 14:05] kelson42 commented on #177
@mgautierfr Yes, it should stop properly. What shoudl be the right solution to:
* Trigger the stop?
* Write a helpful message?

[2020-10-30 14:12] kelson42 commented on #174
@mgautierfr I'm not even sure if we can/want a handled interruption. Do you? For me if you interrupt the process, this is normal to have a few side effects.

[2020-10-30 14:15] kelson42 commented on #172
To me, what you mean is a default version of `--scraper` option. See "scraper" metadata https://wiki.openzim.org/wiki/Metadata#Keys. I don't think the whole command line is really useful. Can you do that?

[2020-10-31 16:28] asashnov commented on #172
@kelson42 Do you mean that instead of my initial idea we can just add

`Packer` metadata with content `zimwriterfs 2.0.0` ?

It's still better than nothing. But it can be also in form:

[code]

[2020-10-31 16:32] asashnov commented on #174
Many programs print 'Interrupting...' if Ctrl+C pressed once, trying to exit gracefully, and exit immediately by pressing Ctrl+C again.

[2020-10-31 16:38] asashnov commented on #173
I use libzim 6.1.8 (Jul 2020) because had a compilation problem with `master`.

[2020-10-31 16:54] asashnov commented on #173
I confirm that the 'master' version of libzim and release (not debug) build works properly:

[code]

[2020-11-02 12:15] kelson42 commented on #166
@veloman-yunkan Can you please have a look to this ticket?

[2020-11-02 12:15] kelson42 opened #180 "New zimcheck crash scenario"
With cutting edge libzim/zimtools:
[code]

Source ZIM file: https://mirror.download.kiwix.org/zim/other/archlinux_en_all_maxi_2020-11.zim

[2020-11-03 08:20] kelson42 commented on #173
Nice

[2020-11-03 08:20] #173 closed

[2020-11-04 08:44] kelson42 commented on #126
@veloman-yunkan Assigning you to help closing the ticket. Have to reask the same question: So openzim/libzim#425 would detect the problem?

[2020-11-04 10:45] veloman-yunkan commented on #126
@kelson42 Not in its current form

[2020-11-04 14:16] kelson42 commented on #126
OK, so keeping the ticket open.

[2020-11-04 15:55] kelson42 commented on #172
@asashnov Yes, please implement "zimwriterfs 2.0.0" if not `--scraper` argument given.

[2020-11-05 16:30] asashnov commented on #172
@kelson42 why `--scraper argument` matters at all?

M/Scraper - is the name of program which downloaded the content from web site to local disk (wget --mirror for example)
M/Packer   - is the program which packet downloaded directory into .zim file ("zimwriterfs 2.0.0")

If `--scraper argument` is not specified, `M/Scraper` should just be missing.
And `M/Packer` should be always present ("zimwrite

[2020-11-10 09:00] kelson42 commented on #172
We stick to the spec https://wiki.openzim.org/wiki/Metadata. There is nothing like `M/Packer`. Please fix it quickly, so we can close the project.

[2020-11-10 14:49] #180 closed

[2020-11-10 16:11] #166 closed

[2020-11-11 08:33] kelson42 opened #184 "Use new libzim validate function in zimcheck"
And maybe clean the code to avoid redundancy checks.

[2020-11-13 07:48] kelson42 opened #187 "Check if filename extensions are coherent with mime-type"
* If not extension at all, don't check.
* If wrong generate a warning

[2020-11-15 18:42] tim-moody opened #188 "zimwriterfs complains about glyphicons"
on creating a zim zimwriterfs complains about missing glyphicons fonts, but they are not used by any of the html being added to zim.

[2020-11-15 18:55] kelson42 commented on #188
To pursue this ticket we will need:
* the version of zimwriterfs
* a problematic dataset
* the command line
* the output log

[2020-11-15 19:01] tim-moody commented on #188
sorry.

I found it. bootstrap wants these files. (assets/bootstrap.min.css)

[2020-11-15 19:01] #188 closed

[2020-11-17 14:38] #172 closed

[2020-11-17 14:46] #157 closed

[2020-11-17 14:50] mgautierfr commented on #172
I arrive a bit after the battle, but it would be nice to have the libzim version used somewhere.
Most of the writer code is on libzim and so the same version of zimwriterfs may write pretty different zim files if it use different version of libzim.

It is also useful as mwoffliner use directly libzim and not zimwriterfs.

It will not be fixed with code in zimwriterfs, but it worth to discuss this

[2020-11-17 14:55] #184 closed

[2020-11-17 15:14] kelson42 commented on #172
@mgautierfr I agree about the need. It is usefull to know more about the dependences (not only the libzim). I think this is not specific about zimwriterfs and even not to zim-tools. I would suggest that a ticket is created and that we implement such a feature somewhere, a pattern which could be then reused for other projects.

[2020-11-20 05:40] kelson42 commented on #69
@veloman-yunkan I’m unsure about the status here. Could you enlight me please?

[2020-11-20 06:11] veloman-yunkan commented on #69
@kelson42 I am going to do the zimcheck part over this weekend.

[2020-11-20 09:22] asashnov commented on #172
Link to the new issue:
https://github.com/openzim/libzim/issues/452 - Gather informations about dependence libraries version

[2020-11-20 15:06] asashnov opened #190 "zimdump stops if cannot create redirect because of invalid filename"
zim-tools(5ed81f87)
zimdump stops if cannot create redirect symlink because of an invalid filename. When dump files it catches the exception and continues.

[code]

When without `--redirect` option zimdump handles the exceptions:

[code]

[2020-11-20 15:29] asashnov opened #191 "zimdump creates dandling symlink to favicon"
zim-tools 'master' (5ed81f87)

zimdump creates dandling symlink to favicon.

## Steps to reproduce

1. Create minimal .zim file:

[code]

2. Now extract this .zim:

[code]

3. Check the content of the resulting directory.

## Actual result

There is a dangling symlink in `-` folder for favicon file. In `I` the favicon is OK:

[code]

## Expected result:

`min/-/favicon` should point to `../I/favic

[2020-11-20 16:11] asashnov opened #192 "zimwriterfs 'Invalid redirection' for favicon when run with --uniqueNamespace option"
zim-tools 'master' (5ed81f87)
libzim 'master' (540bc34d5)

zimwriterfs doesn't include favicon when run with --uniqueNamespace option.

## Steps to reproduce

1. Pack the same content with and without `--uniqueNamespace` options
2. Compare the output of `zimwriterfs` and the resulting .zim files

## Actual result

`Invalid redirection -/favicon redirecting to (missing) I/favicon.png` error in the

[2020-11-21 05:47] asashnov commented on #191
See also: https://github.com/openzim/libzim/pull/402 This PR already closed, in description:

[2020-11-21 06:39] kelson42 commented on #191
@asashnov Can yu please quickly fix that?

[2020-11-21 06:43] kelson42 commented on #191
@asashnov We are curretly removing the namespaces... I guess the vug will be fixed by itself.

[2020-11-23 13:17] veloman-yunkan opened #195 "Crash of the zimwriterfs-zimcreatorfs unit-test"
The `zimwriterfs-zimcreatorfs` unit-test of zim-tools started crashing (in the Linux (native_static) configuration) in the run [#219](https://github.com/kiwix/kiwix-build/actions/runs/375479855) of the [Release&Nightly runs of kiwix-build](https://github.com/kiwix/kiwix-build/actions?query=workflow%3ARelease%26Nigthly) (it was not an intermittent failure since runs ## [220](https://github.com/kiwi

[2020-11-23 20:18] veloman-yunkan commented on #195
This looks like a compiler bug. The disassembly of the `__gthread_equal()` function in the stack trace shown in the issue description is dubious. That function is instantiated from [`/usr/include/x86_64-linux-gnu/c++/5/bits/gthr-default.h`](https://gcc.gnu.org/onlinedocs/gcc-5.4.0/libstdc++/api/a01291_source.html#l00678) when compiling [`libzim/src/writer/creator.cpp`](https://github.com/openzim/l

[2020-11-24 07:22] kelson42 commented on #195
Hmmm... what is the next step? Make a bug report upstream? Should we try a more recent version of the compiler (if already fixed, does not make sense to report it probably)?

[2020-11-24 07:24] veloman-yunkan commented on #195
In the previous message the `objdump` command had to be called with `-r|--reloc` option, which also displays the relocations interspersed with the disassembly. Then the disassembly of `__gthread_equal()` shows correct reference to `pthread_equal()`:

[code]

Thus making sure that this was not a compiler bug, I was able to link the `zimwriterfs-zimcreatorfs` unit-test using a custom command line so

[2020-11-24 07:26] kelson42 commented on #195
@veloman-yunkan OK, looks good, then your are just one step away of the fix I believe :) Great work!

[2020-11-24 14:21] veloman-yunkan commented on #195
The following patch to [`test/meson.build`](https://github.com/openzim/zim-tools/blob/2.1.0/test/meson.build) is a custom fix to this particular issue:
[code]

Need to make sure that it is applied as needed (i.e. only in static build under linux). Those link args must be present in all executables using multi-threading.

[2020-11-25 13:11] mgautierfr commented on #195
As @veloman-yunkan already said, this probably comes from openzim/libzim#443
The linking issue should probably be already there as this fondamentally don't change anything on linux.
The already existing issue is probably triggered by the change in the code and the std c++ implementation.

I think this should be handle automatically by meson. meson has the idea that if you need thread you use the "

[2020-11-26 09:28] kelson42 commented on #195
@mgautierfr @veloman-yunkan We need an action plan to stop getting things "working". How would that look like?

[2020-11-26 11:16] veloman-yunkan commented on #195
`link_whole` doesn't handle the `threads` pseudo-dependency:

[code]

[2020-11-27 10:47] #195 closed

[2020-11-27 10:53] #175 closed

[2020-12-03 12:30] mgautierfr commented on #192
The master of zim-tools now use the new api of libzim and we always create zim file "without" namespace (technically, namespace is hidden).

The option `--uniqueNamespace` is removed.
Do you have the same issue with the master branch ?

[2020-12-03 19:17] veloman-yunkan commented on #126
The weird MIME-type list in this (old-style) ZIM file (with the dirent-pointer table placed right after the MIME-type list) exceeds the limit of 944 (1024 - *header_size*) bytes imposed on new-style ZIM files (where the dirent-pointer table is placed at the end). Old-style ZIM-files didn't have such a limit, but the [new code for reading the MIME-type list](https://github.com/openzim/libzim/blob/6

[2020-12-09 14:26] #126 closed

[2020-12-11 11:54] kelson42 opened #200 "Unable to dump to fs properly a ZIM file"
[code]

Here is the ZIM file:
[wiki.openzim.org_en_all_2020-12.zim.zip](https://github.com/openzim/zim-tools/files/5678965/wiki.openzim.org_en_all_2020-12.zim.zip)

[2020-12-20 11:43] kelson42 commented on #69
@veloman-yunkan Any news on this front?

[2020-12-21 12:36] veloman-yunkan commented on #69
@kelson42 A prototype implementation was ready, but then the `libzim_next` branch was merged and I had to rebase my branch and resolve a lot of large conflicts. I was waiting for any ripple effects from the merged `libzim_next` branch to fade out before continuing/finishing the work on this.

[2020-12-21 12:38] kelson42 commented on #69
@veloman-yunkan I don't think there is any big plan for now to make big changes again. @mgautierfr has to implement https://github.com/openzim/libzim/issues/397 but (beside a few other details), this is going to be the only thing to change before release mid of January. I think you can continue on this ticket.

[2020-12-30 16:01] kelson42 opened #202 "Create openzim/zim-tools Docker image"
We have currently two Docker images:
* `openzim/zimwriterfs`
* `openzim/checker`

... and theoritically we shoudl create new ones for the other Zim-Tools.

This approach is relatively inefficient because we could have only one `openzim/zim-tools` Docker image which would be easier to maintain.

We want as well to use this opportunity to implement an other approach to build this new Docker image wh

[2020-12-30 16:08] kelson42 opened #203 "Zimcheck should be able to printout a machine-readable JSON"
We are currently deeply integrety the `zimcheck` in the Zimfarm and we the (still to be built) CMS.

If the ZIM check process is part of the Zimfarm process, the level of tolerance regarding errors/warnings is a duty of the CMS.

Therefore the `zimcheck` result will follow that path:
* Zimfarm worker runs zimcheck
* Zimcheck generates a json with all the results (levels, messages, exit code, ...)

[2020-12-30 16:08] kelson42 commented on #203
@veloman-yunkan Would you be able to do this ticket as well please? This is relatively urgent.

[2020-12-30 18:47] veloman-yunkan commented on #203
@kelson42 Yes, I can do that

[2020-12-30 19:07] rgaudin commented on #203
What do you think about optionally writing this to stdout? When automating this, I am not interested in a text output so it makes more sense to receive this JSON as output and pipe that to wherever I need than to be forced to dump to a file and use it.

[2020-12-30 19:09] kelson42 commented on #203
OK, then just a boolean `--json` argument?

[2020-12-30 19:09] rgaudin commented on #203
👍

[2020-12-31 16:15] veloman-yunkan commented on #203
@rgaudin @kelson42 Can you provide several examples of JSON output expected from zimcheck?

[2020-12-31 16:30] kelson42 commented on #203
I don't have a typical output of zimcheck under my eyes, but I would like to have for each error/warning, the following infos:
* date
* log level
* message
* error code

To me this is an opportunity to use a proper logging framework like log4cxx, the json output being just a formatter of it.

We have currently a kind of log hierarchy, not sure how we should deal with that. I'm open to suggestions.

[2020-12-31 21:38] kelson42 opened #204 "Handle xmpp has external protocol"
[code]

See https://farm.openzim.org/pipeline/4661fdf51541d0e4b593eef5

[2021-01-01 10:13] kelson42 commented on #204
Same for the news: protocol

[2021-01-01 16:31] kelson42 commented on #204
Same for urn: protocol

[2021-01-01 20:51] veloman-yunkan commented on #204
Are there real-world examples of the `urn:` scheme being used in links?

[2021-01-01 20:58] kelson42 commented on #204
Yes, all of this comes from real zimcheck errors on the zimfarm.

[2021-01-02 07:47] #204 closed

[2021-01-04 11:52] mgautierfr commented on #203
I don't know about log4cxx but yes, we should use a library and no reimplement json dumping ourselves.
If we use a tool that can also output to something else than json, we may use the option `--format=(json|human|xml|...)` to have a more generic way to set the output, without a lot of work on our side.

I don't think we need a hierarchy here. We can simply have a a list of error (each error havin

[2021-01-04 12:09] rgaudin commented on #203
@mgautierfr looks good.

This will be passed directly to the CMS so @kelson42 may have more precise needs as this is where this output will be used.

To me the most important is to have this list of error code.

I think having the number of *errors* broken down by `kind` would be much helpful as I already see use for this (`warc2zim`-created ZIMs would ignore duplicate errors for instance).

[2021-01-04 13:32] kelson42 commented on #203
Based on what has been proposed, I believe a bitt better:
[code]
@rgaudin I'm relatively against creating summary entries counting the entry by `level` or `code`. This should be done by the log  reader. Should be trivial.

[2021-01-05 12:24] maneeshpm opened #207 "Installation issue- fatal error "zim/archive.h", "zim/writer/contentProvider.h", "zim/item.h" not found"
After installing all the dependencies given in the readme, running `ninja -C build` gives the following error
[code]
meson build message:
[code]

[2021-01-05 12:27] kelson42 commented on #207
@maneeshpm Where do the libzim and zim-tools come from? Do you use the git versions in both cases or a released tarball?

[2021-01-05 12:29] maneeshpm commented on #207
For libzim, I tried with the package manager `apt-get install libzim-dev` which seems to be version 4, then removed it and tried the release 6.3.0 version as well. zim-tools are the git version.

[2021-01-05 12:42] kelson42 commented on #207
@maneeshpm Currently, zim-tools git master compiles only against libzim git master as we prepare a major release inthe next weeks. I guess this is why it does not compile. Try with libzim git master.

[2021-01-05 12:52] maneeshpm commented on #207
Thanks @kelson42! Worked like a charm.

[2021-01-05 12:52] #207 closed

[2021-01-05 15:40] #202 closed

[2021-01-05 20:03] maneeshpm commented on #200
Hey again @kelson42! if this issue is still up for grabs, I would like to work on it. I was able to reproduce the error, seems like a symlink path error. Can you provide some pointers on how to approach this issue if possible?

[2021-01-05 20:06] kelson42 commented on #200
@maneeshpm Yes feel free. Unfortunaty I can not really help you but make search in the closed tickets and PR, this will probably be helpful. Fell free to ask as well if you have a question about how the zimdump should behave.

[2021-01-05 20:13] maneeshpm commented on #200
Thanks @kelson42, that would be awesome. Meanwhile I can try to pinpoint the exact error.

[2021-01-06 10:09] kelson42 commented on #200
@maneeshpm This search in the issues/PRs is a work for you, I don't plan to do anything.

[2021-01-06 12:48] maneeshpm commented on #200
The exception is generating an `errno 2 ENOENT`. This is caused by the following issues:
- On printing out the path components, for the favicon.ico
`filename: /favicon, directory: 4242, separator: /, retative_path: -//favicon`
the file name contains a preceding '/', fixed by making `filename = path.substr(position+1);` on line 312. Upon doing this, a valid file path `4242/-/favicon` can be generat

[2021-01-06 12:52] CrushedPixl opened #210 "Still unable to use stackoverflow.com_en_all_2019-02.zim"
Yesterday's release included [this](https://github.com/openzim/libzim/pull/460) pull request, which I assumed would fix [this](https://github.com/kiwix/kiwix-tools/issues/413) issue as was suggested [here](https://github.com/openzim/zim-tools/issues/126), but the issue remains for me.

With Parabola's (x86) packages I get
[code]

And with my (most likely flawed) self-built (x86) binaries (through

[2021-01-07 11:52] kelson42 commented on #210
@CrushedPixl You have been fooled by a "fake" Github release. This released has already been done months ago, therefore the PR you talk about is not in it. We plan to make a new libzim release next week.

[2021-01-07 11:52] #210 closed

[2021-01-07 11:57] kelson42 commented on #200
@maneeshpm It is not the proper behaviour, otherwise why should I have open a ticket?!

[2021-01-07 12:05] kelson42 commented on #200
@maneeshpm I don't really understand your technical explanation. But that does not matter for the moment? Do you understand where is the bug? How to fix it?

BTW, the message is wrong:
[code]

The symlink is the otherway around from `-/favicon` to `A/wiki.openzim.org/w/images/favicon.ico`.

[2021-01-07 12:14] kelson42 commented on #200
@maneeshpm I believe, you need to fix the function `createDir()`. I don't understand at all why we have:
[code]

[2021-01-07 12:42] kelson42 commented on #200
@maneeshpm Many things are wrong here. Just remark, that the input `--dir=` value is not even checked/sanitized properly. As a consequence, you don't even know if there is a trailing slash or not. Please start with this.

[2021-01-07 12:58] maneeshpm commented on #200
@kelson42 Yeah, that's what I tried to convey through the second point. Verifying if the input `--dir=<path>` is managed properly and checking if the creation of directories is taking place as expected looks like the right place to start. I am working on it, will keep you posted.

[2021-01-07 13:51] maneeshpm commented on #200
@kelson42 I have fixed some lines and the command is not crashing anymore, it prints the following:
[code]
And writes the following to the file system:
[code]
Is this the expected behavior?

[2021-01-07 14:02] kelson42 commented on #200
@maneeshpm I would say that it looks better yes :) Please open a PR.

[2021-01-08 20:46] kelson42 commented on #192
Probably we should fix this issue by juste removing the —uniqueNamespace feaure?

[2021-01-09 18:04] #200 closed

[2021-01-09 18:09] kelson42 commented on #177
@maneeshpm This ticket might be an other potential interesting one for you,

[2021-01-09 19:16] maneeshpm commented on #177
Thanks @kelson42, looking into this.

[2021-01-11 06:58] maneeshpm commented on #177
@asashnov I was unable to recreate the issue:
[code]
I am using `wikipedia_de_physics_mini_2020-12.zim   33M` zim file since I could not find the file you used and using the latest git master. What's going wrong here?

[2021-01-13 09:41] rgaudin opened #213 "dump fails on long URLs"
here's the tail of the output of `zimdump dump --dir /data/mqc somezim.zim`:

[code]

Touching that file fails as well

[code]

Very long URLs seems like a common use case and I believe it calls for a design change in the way those are written to disk.

Might be related to #190

[2021-01-16 07:21] maneeshpm commented on #177
@kelson42 the `addFile()` function is terminating abruptly on this zim file. Specifically, the `parseAndAdaptHtml()` function fails on the file `A/Amarica` which has the following content:
[code]
I am not sure if this behavior is related to the original issue, but as of now `zimwriterfs` generates the error I mentioned in the previous comment. This is stopping me from recreating the issue reported

[2021-01-16 07:23] kelson42 commented on #177
@maneeshpm Thank you for the investigation. This seems to me to be a proper handling, so if OK for @asashnov, I propose to close the issue.

[2021-01-16 07:26] kelson42 commented on #171
@maneeshpm Would you like to look at this bug? This is a pretty anooying one for users.

[2021-01-16 07:32] maneeshpm commented on #177
@kelson42 The message is `terminate called without an active exception` is a bit confusing here. In `zimdump.cpp` every `throw runtime error` was preceded by an `std:cerr` output. Perhaps that can be added here as well.

[2021-01-16 07:35] maneeshpm commented on #171
Sure @kelson42, I'll start working on this one.

[2021-01-16 09:14] #177 closed

[2021-01-17 08:42] maneeshpm commented on #171
@kelson42 Even though we are providing the `--ns=` option, there is no handler for it in any of the zimdump subcmds. I could not find any function in libzim/archive.cpp that could directly help us filter by namespace. So I think we can add a condition like `if (path[0] != nsfilter) continue` if the ns filter is provided. Is there any better method?

[2021-01-17 09:11] kelson42 commented on #171
@veloman-yunkan Do you believe his is the proper way of doing?

[2021-01-17 10:59] veloman-yunkan commented on #171
@maneeshpm I guess you missed the [`zim::Archive::findByPath()`](https://github.com/openzim/libzim/blob/a4330a57bcd3da6249f2ddddc71f4e456dd21c93/include/zim/archive.h#L279-L288) method:

[code]

[2021-01-17 14:03] maneeshpm commented on #171
Thanks for pointing it out @veloman-yunkan, I tried it, `findByPath()` throws a runtime error because when a namespace url like `A` is passed to this function, another function `zim::parseLongPath()` is called which throws a runtime error in such a case.
[code]
But modifying this function such that it returns the namespace along with an empty string as path when such a url is passed
[code]
After t

[2021-01-17 14:10] kelson42 commented on #171
@maneeshpm Yes, seems to be the proper behaviour but you should not have to modify the libzim. I let you sort ot these details and the review with @veloman-yunkan

[2021-01-17 14:43] kelson42 commented on #171
@maneeshpm Please, prepare a PR (even in draft), it is not a good idea to work on code (review) base on the ticket.

[2021-01-17 14:53] maneeshpm commented on #171
Ohk @kelson42, thanks for the information.

[2021-01-22 08:34] shashwat1002 commented on #161
Hi, I am just exploring the codebase right now hoping to contribute.
I had questions about this issue:
- would you like this feature to be implemented as a separate test?
- I followed [https://github.com/kiwix/kiwix-tools/issues/207](kiwix/kiwix-tools#207), is something similar expected here?
- in what circumstances do you want the test to run?

If you think that I haven't read something that I sh

[2021-01-22 08:55] kelson42 commented on #161
@shashwat1002 Thank you for reaching to us. This should be a test in `zimcheck`. The link you have given is broken, not sure to what you want to refer.

[2021-01-22 10:23] shashwat1002 commented on #161
@kelson42
I just fixed the link.
and the parameters should just be `const zim::Archive& archive, ErrorLogger& reporter` yeah?

[2021-01-22 13:16] kelson42 commented on #161
@shashwat1002 thx, can not tell you much about the details of the implementation. When you have something ready, just make a PR so we can review it.

[2021-01-24 06:43] shashwat1002 opened #217 "`meson build` requires libzim-dev version >= 6.3.0 (for ubuntu) which isn't available for ubuntu 20.04 LTS [Question]"
It seems that the required version of `libzim-dev` has only been packaged for ubuntu 20.10.
I am using ubuntu 20.04 LTS and the latest version for `libzim-dev` available here is `4.3.5-5ubuntu3`.

What would you recommend for installation of `libzim-dev`on ubuntu to conduct tests on `zom-tools` and to build it?

[2021-01-24 07:35] FledgeXu commented on #213
I met the same problem:
[code]
Also `2.1.0`
[code]

[2021-01-24 12:58] kelson42 commented on #217
The git master version

[2021-01-24 12:58] #217 closed

[2021-01-25 05:53] FledgeXu commented on #190
I met the same problem.

[2021-01-29 07:43] kelson42 commented on #149
Agree with @rgaudin, here the core of the problem is that we have a regex based parser and we should have a DOM based.

[2021-01-29 07:44] kelson42 commented on #149
@maneeshpm Might be a good candidate fir you, replacing the functions which retrieve the link with a DOM (pugixml) parser.

[2021-01-29 07:51] maneeshpm commented on #149
Thanks @kelson42! Looking into this issue.

[2021-01-29 07:57] kelson42 commented on #149
@maneeshpm Thank you very much. Ifyou have other tasks ongoing, please try to finish them first.

[2021-01-29 08:04] maneeshpm commented on #149
@kelson42 Sure, they are almost done(pending final review and merge). I will start this as soon as they are closed.

[2021-01-31 15:18] maneeshpm commented on #149
@kelson42 To make sure I understand the issue correctly, the expected behavior is to extract all `src` and `href` attributes. The current function `generic_getLinks()`, while doing this also gathers some `src` inside the script tags which causes failure in zimcheck.
So we want to rewrite this function using pugixml such that all `src` and `href` attributes that are outside script tags(but can be a

[2021-02-01 15:37] maneeshpm commented on #149
@kelson42  It seems that pugixml is not suitable for parsing HTML directly zeux/pugixml#106. It needs some preprocessing to convert the HTML to XHTML. Exploring workarounds and alternate options.

[2021-02-02 13:12] maneeshpm commented on #149
@kelson42 Parsing with `pugixml` also causes some errors. Since the file we are trying to parse is not exactly XML, some elements inside the <script> node causes this failure. Those elements are
 - non closed tags: `<%= smallHTML%>`, `<%- gettext("Fullscreen") %>`
 - invalid attributes:
 `"dismiss": '<a aria-label="dismiss cookie message" id="dismiss" role=button tabindex="2" class="cc-btn cc-dism

[2021-02-04 10:22] kelson42 commented on #149
@maneeshpm This is a really pertinent remark. pugixml seems indeed not the properly tool. Not sure for the moment how to proceed.

[2021-02-04 10:24] #171 closed

[2021-02-07 09:12] kelson42 commented on #190
Similar to #213

[2021-02-08 13:29] lidel opened #219 "Print page name during zimcheck --main"
Would it be possible to print the name of the "main page" of the ZIM during `zimcheck --main` ?

For example [wikipedia_tr_all_maxi_2021-01.zim](https://download.kiwix.org/zim/wikipedia/wikipedia_tr_all_maxi_2021-01.zim) has main set to `Kullanıcı:The_other_Kiwix_guy/Landing`, so perhaps printing it like this:

[code]

It would enable [ipfs/distributed-wikipedia-mirror](https://github.com/ipfs/dis

[2021-02-09 15:08] kelson42 commented on #219
@lidel `zimdump` is the proper tool for that:
[code]

Does the index is useful? Or do you need the URL?

[2021-02-09 16:14] lidel commented on #219
@kelson42 I need the URL (article name) – can I get that from index somehow?

[2021-02-10 08:36] kelson42 commented on #219
@lidel I believe `zimdump` should just print the main page url in place ont the index.

[2021-02-10 12:49] #219 closed

[2021-02-10 18:13] shashwat1002 opened #221 "Unable to run automated tests"
After having built the project using
`meson . build`
`ninja -C build`

I want to run the automated tests, I go into the `build` directory and run `meson test`
I get the following message:
`ninja: no work to do.  `
`No tests defined.`

Am I missing something?

[2021-02-11 06:56] shashwat1002 commented on #221
An extension to this question, is there way to get the list of commands being run on the tests that are done when I push new code.
I see more things when I push code than I do when I run the commands as written in the `README` and it's cumbersome to push code just to check whether it works.

[2021-02-11 07:26] veloman-yunkan commented on #221
Do you have `googletest` installed?

[2021-02-11 07:28] veloman-yunkan commented on #221
Don't mind about possible failures of the CI while you are working on your PR. Those failures should be addressed after you consider the PR (mostly) completed.

[2021-02-11 07:55] shashwat1002 commented on #221
Just did, it works now, thanks!

[2021-02-11 08:09] #221 closed

[2021-02-11 11:33] kelson42 commented on #221
@shashwat1002 Have updated the README to put a word about gtest framework.

[2021-02-13 21:52] archenemies opened #223 "requires libzim 7.0.0 but newest version is 6.3.0"
I must be missing something? I just downloaded `libzim` and `zim-tools` and tried to build `zim-tools`; the changelog for `libzim` says 6.3.0 is the most recent version, but `zim-tools` complains that it wants 7.0.0.

Tried to back out to an earlier version with

    git checkout 7fe17cc075f13aca15f3665b0edfc5ccefd9dae1

but this results in a bunch of linker errors.

[2021-02-14 01:34] lidel opened #224 "zimdump produces invalid path in HTML-based redirect"
Assuming I understood this correctly, the HTML-based redirect created by `zimdump`  points at an invalid path.

### How to reproduce

`wikipedia_cr_all_maxi_2021-02.zim` is small enough to be a good demo:

[code]

So while in `A/{name1}` we are redirected to `A/{name2}`.

This looks like a bug, because the redirect is relative to `{name1}`, so it points at `A/A/{name2}` which does not exist.

I wa

[2021-02-14 06:31] kelson42 commented on #223
Libzim 7.0.0 is still in developement. Use released versions of both zim-tools and libzim.

[2021-02-14 06:36] #223 closed

[2021-02-14 09:14] archenemies commented on #223
Sorry I thought I was supposed to use `git clone` to obtain the latest versions. Where are the "released versions"?

[2021-02-15 13:02] lidel commented on #224
@kelson42 fwiw I've worked around this in https://github.com/ipfs/distributed-wikipedia-mirror/pull/77/commits/11fe184edd597e5ff0d80edc52b01b9b77af1ebb by leveraging `find` `fgrep` and `sed`:

[code]

Inspecting all articles takes too much time, so it looks for `0;url=A/` in files smaller than 800 bytes (so it only works on redirect ones, which are usually <500, while real articles are >1KB), and

[2021-02-19 13:01] kelson42 commented on #224
@veloman-yunkan may I ask you please to look at this ticket if you have the time? This is a pretty small one, but this impairs a bit the new Wikipedia snapshots release effort on IPFS we are running now.

[2021-02-19 13:05] kelson42 commented on #224
Two similar issues:
* https://github.com/openzim/mwoffliner/issues/164
* https://github.com/openzim/mwoffliner/issues/114

[2021-02-19 13:35] veloman-yunkan commented on #224
@kelson42 OK, I will investigate it right away

[2021-02-19 13:38] kelson42 commented on #224
@veloman-yunkan Thank you! I looked yesterday to the code and the problem is clearly that there is no code *at all* to compute the relative path. The redirect targeted article fullpath URL is just put there. I believe we have a function somewhere (in `zimwriterfs`) to make this computation of a relative path given the current path and the target path. Probably could/should be reused.

[2021-02-19 17:42] veloman-yunkan commented on #224
I looked for such a function only in [`src/tools.h`](https://github.com/openzim/zim-tools/blob/65e38dd73ec23bf6ab1cbb05269e7f68be3e86e2/src/tools.h). Since it wasn't there I wrote my own implementation of it.

[2021-02-22 08:21] EnKrypt commented on #210
Hi, is there any update on this? There seems to be no open issue being tracked at the moment, but this problem is still present. I don't see a newer release of `kiwix-serve`.

At least one issue should remain open until a release specifically closes it.
Please tell us what we, the community can do to help speed this up, because I'm pretty sure folks will just keep coming along and opening a new ti

[2021-02-23 15:12] lidel opened #226 "zimdump: proper handling of _exceptions"
When it is not possible to dump article to `A/Foo`, zimdump outputs file to `_exceptions/A%2fFoo` instead.

This makes dump directory partially broken, as one can't expose it over HTTP due to errors described in https://github.com/ipfs/distributed-wikipedia-mirror/issues/61#issuecomment-784213485

I believe zimdump could handle exceptions like this more gracefully by implementing additional error

[2021-02-23 16:13] kelson42 commented on #226
@lidel Your proposal is far more complex than what exists, does simplify the reading under certain conditions and assumptions which are really specific. The system which has been created is a simple/generic one which is easy to understand and handle all use cases in the same manner (and article might fail to be written on the fs for many different reasons). Actually I don't understand exactly the

[2021-02-24 01:09] lidel commented on #226
Absolutely, this can be fixed in userland too.

Just wanted to see if this could be fixed in zimdump before we add any post-processing in [distributed-wikipedia-mirror](https://github.com/ipfs/distributed-wikipedia-mirror). This will make running each build slower, but should be doable.

@kelson42 just to be clear, so we don't duplicate efforts, this won't be implemented in zimdump, correct?

[2021-02-24 16:27] mgautierfr commented on #226
This is not so easy. We could have those files in a zim archive :
- `foo/bar.html`
- `foo/index.html`
- `foo`
- `foo/`
- `foo///`
- `foo/bar/../index.html`

All of them can be a (mix of) file or a redirection.

[2021-02-24 16:54] #224 closed

[2021-02-26 06:23] #226 closed

[2021-02-26 16:34] lidel commented on #226
Fair enough :) We will handle this in userland in https://github.com/ipfs/distributed-wikipedia-mirror/issues/80

[2021-02-26 20:36] EnKrypt commented on #210
@kelson42 Can this issue be re-opened? A humble request so that I can track the progress of this until a release is actually out that actually closes this issue.

I can create a new ticket if you'd prefer.

[2021-02-27 22:21] lidel opened #227 "Memory leak in the latest zimdump nightly (2021-02-27)"
`zimdump` from https://download.openzim.org/nightly/2021-02-27/  seems to have a memory leak when processing [`wikipedia_my_all_maxi_2021-02.zim`](https://download.kiwix.org/zim/wikipedia/wikipedia_my_all_maxi_2021-02.zim):

[code]

kernel log:
[code]

This is is not present in https://download.openzim.org/nightly/2021-02-12/  which I had around and re-tested with, so there is most-likely some reg

[2021-03-02 06:48] kelson42 commented on #213
I propose to:
* truncate exception files/directory if they hare too long for the filesystem
* Introduce an exceptions.log files in jsons to track them. This file would for each exception give the original path, the exception path, and the reason of the exception

[2021-03-02 09:57] mgautierfr commented on #213
Care must be taken when truncating directories.
We may have 3 entries :
- "long_directory_xxxxxxxxxxyyyyyy/foo.html"
- "long_directory_xxxxxxxxxxyyyyyy/bar.html"
- "long_directory_xxxxxxxxxxzzzzzz/foo.html"

Both first directories must correctly truncated to the same "short name" ("long_directory~1") but the second must be different ("long_directory~2")

[2021-03-02 10:51] mgautierfr commented on #210
We are stuck we a exceptionally big release of libzim which need a bit more work to be finalized/stabilized.
There is nothing you can do to speed up that.
However, if you want to help, you are more than welcome. There are a lot of issues (easy or not) in all our repositories (https://github.com/kiwix and https://github.com/openzim organizations)

We close issues when there is nothing more to do on

[2021-03-02 10:57] #227 closed

[2021-03-06 21:47] georgejhunt opened #230 "Zimwriterfs search results links out of sync with autogenerated "/C/" namespace"
I used zimdump (commit dca3a83d48a7ac5612c4f3dbfaba89c02c66e6b4
Merge: f406219 ff61a93
Author: Matthieu Gautier <mgautier@kymeria.fr>
1. ZimDumped "teded_en_all_2021-01.zim"
2. which created a content tree with html files in an /A/ namespace.
3. When I used zimwriterfs to recreate a zim from that file tree, the html was placed in a /C/A/ namespace -- which I can at least understand as a way of dea

[2021-03-07 07:06] kelson42 commented on #230
An important pint, running zimwriterfs on a zimdumped out directory does not recreate the original ZIM file. We need to analyse if this is a bug.

[2021-03-08 10:09] mgautierfr commented on #230
As @kelson42 said, zimwriterfs is not the inverse operation of zimdump.

As your articles are in the `A` sub-directory and are placed in `C` namespace the full path is `C/A/foo.html`.
In most recent version of libzim/kiwix-lib/kiwix-tools (master), the namespace is hidden and so the url is `/A/foo.html`.

However, it seems that the compatibility layer fails to locate `/A/foo.html`. It is probably

[2021-03-08 16:51] georgejhunt commented on #230
My original task was to reduce a 27GB zim file to about 10GB.  So when I
found that the 10 GB zim didn't work, I went to use zimwriterfs on the
zimdump-ed 27GB unmodified tree. So it is taking a while to upload. It may
take most of today, and may fail.  I'll send you a link to my s3 space when
it finishes uploading.

But thank you for looking into it.

On Mon, Mar 8, 2021 at 2:10 AM Matthieu Gauti

[2021-03-08 17:15] kelson42 commented on #230
@georgejhunt You better create a new quality profile in youtube scraper.

[2021-03-08 18:03] georgejhunt commented on #230
I was not scraping youtube. I was using a kiwix zim file as source. And
then I was using youtube "view_count" to selectively copy from input to
output (and trim from -/assets/data.js), and repackage.
But certainly, if I were scraping youtube, I'd need to set a profile that
minimized download size.

On Mon, Mar 8, 2021 at 9:15 AM Kelson <notifications@github.com> wrote:

[2021-03-09 13:02] kelson42 commented on #230
@mgautierfr I have zimdumped and recreated a ZIM with:
[code]

All these tools are created with latest dev git master HEAD version. The result is uploaded at:
http://tmp.kiwix.org/teded_broken_suggestions.zim

For me, there is no suggestion *at all*. Seems definitly broken but for me not clear if this is the ZIM file of libkiwix.

[2021-03-09 13:12] mgautierfr commented on #230
Are you sure you have the just merged https://github.com/openzim/zim-tools/pull/212 in zim-tools ?

[2021-03-09 13:54] kelson42 commented on #230
@mgautierfr Will check, but I believe not.

[2021-03-09 18:07] georgejhunt commented on #230
The upload of 27GB failed twice. So I downloaded a shorter
ZIM: ted_en_playlist-9-trippy-ted-talks_2021-01.zim. Then I used my
zimdump, and zimwriterfs  to create:
http://d.iiab.io/content/trippy-en-tedtalks.zim -- which also exhibits the
problem.

Libzim hash: commit ac2cc1fbe8d91b2da9df8c79a7469e83b7b1f30c -- Feb 24,2021
zimtools hash: commit f406219cd974d2a944cccbc72a0da8616d886972 -- also Feb

[2021-03-10 09:57] kelson42 commented on #230
@mgautierfr I have secured now that I had the Hints patch... but exactly same symptom. I have updated http://tmp.kiwix.org/teded_broken_suggestions.zim

[2021-03-10 10:00] mgautierfr commented on #230
@kelson42, @georgejhunt What reader are you using ? kiwix-serve, kiwix-desktop ? Which version ?

[2021-03-10 17:57] georgejhunt commented on #230
The kiwix-serve I was using is probably 6 months old. "kiwix-serve -V"
yields 3.1.2

On Wed, Mar 10, 2021 at 2:21 AM Kelson ***@***.***> wrote:

[2021-03-11 08:57] kelson42 commented on #230
@georgejhunt Just to confirm than the bug has been identified and this is not a minor one and even worth it went through the CI. So, really valuable bug report. Thx. A fix will be developed within a week.

[2021-03-11 19:42] georgejhunt commented on #230
Thanks for the update, and and priority

On Thu, Mar 11, 2021 at 12:57 AM Kelson ***@***.***> wrote:

[2021-03-12 17:55] shashwat1002 commented on #161
@veloman-yunkan , you talked about a more robust version of the check. Should I create a new issue or should I just refer to this while I work on that?

@kelson42

[2021-03-13 10:44] veloman-yunkan commented on #161
@shashwat1002 I don't mind about the bureaucratic side of the work. Please wait for and follow @kelson42's advice

[2021-03-19 12:23] kelson42 commented on #161
@shashwat1002 I'm not sure about where I talked about a "more robust" solution (if you talked about #515, this was a wrong lead, sorry). Can we close this ticket as you have implemented the feature?

[2021-03-29 06:22] shashwat1002 commented on #161
@kelson42

This is what I'm talking about: https://github.com/openzim/zim-tools/pull/218#pullrequestreview-591054518

[2021-03-29 07:01] kelson42 commented on #161
@shashwat1002 You mean using a stack to detect loops? I was under the impression this is what you already had done. But I'm under the impression this ticket is implemented and you want to do something better. In that case, close this ticket and open a new one.

[2021-03-29 07:05] shashwat1002 commented on #161
@kelson42
that wasn't what I had done.
My solution was simpler and reported a redirect loop if the number of chained redirects were more than 50

I would like to implement the stack based solution now, should I do it on this ticket?

[2021-04-03 15:24] kelson42 commented on #192
Option `--uniqueNamespace` has been removed with #196 and https://github.com/openzim/libzim/issues/527 will secure there is not metadata as redirect. Closing.

[2021-04-03 15:24] #192 closed

[2021-04-03 18:14] tim-moody opened #231 "zimwriterfs does not handle poster attribute of video tag"
Using latest release (Nov 17, 2020) on x86_64 ubuntu 20.10.

As viewed from a chrome browser,
Source tag is

`<video controls="" height="480" poster="../../../../../www.youtube.com/embed/deAt1q3jKBk.webp" src="../../../../../www.youtube.com/embed/deAt1q3jKBk.webm" video-format="244" width="853"></video>`

as returned from the zim it is

`<video controls="" height="480" poster="../../../../../www.y

[2021-04-03 18:25] kelson42 commented on #231
We shoukd check first if the bug is still there with latest libzim/zimtools.

[2021-04-03 18:28] tim-moody commented on #231
forgot to mention that this is with kiwix-serve 3.1.2

[2021-04-05 20:22] leanhdung1994 opened #232 "Error "Exception: error 2 opening file" with zimDump"
I'm using Docker on Windows 10 for [openzim/zim-tools](https://hub.docker.com/r/openzim/zim-tools). The zim file is `F:\zim\html wikipedia.zim`. The folder to contain html is `F:\zim\html`.
![image](https://user-images.githubusercontent.com/28704090/113622426-46453e00-965d-11eb-9b13-e52f3dce44ce.png)

I use `docker run -v /f:/zim -w /f:/zim -it openzim/zim-tools:latest zimdump dump --dir=/f:/zim/h

[2021-04-05 20:57] kelson42 commented on #232
I guess zimdump can not find the zim file because the path is wrong. Start a bash interactiveky and verify your command.

[2021-04-05 21:00] leanhdung1994 commented on #232
@kelson42 Can you elaborate on what `Start a bash interactively` means?

[2021-04-05 21:03] kelson42 commented on #232
https://www.google.com/search?q=docker%20start%20interactiveky%20bash&ie=utf-8&oe=utf-8&client=firefox-b-m

I close the ticket, this is problems with understanding how Docker works, not with zimdump.

[2021-04-05 21:03] #232 closed

[2021-04-05 21:23] leanhdung1994 commented on #232
@kelson42  First, I run `docker run -v /f:/zim -w /f:/zim -it openzim/zim-tools:latest sh`, then it shows

![image](https://user-images.githubusercontent.com/28704090/113628832-c8396500-9665-11eb-9ad6-89e1063c5bb6.png)

Then I run `zimdump dump --dir=/f:/zim/html wikipedia_en.zim` and it shows

![image](https://user-images.githubusercontent.com/28704090/113628893-e30bd980-9665-11eb-9aa3-3eaf010849

[2021-04-17 15:03] leanhdung1994 opened #233 "zimDump takes nearly 2 days to dump a 6GB zim file"
Hello,

I'm using [openzim/zim-tools](https://hub.docker.com/r/openzim/zim-tools) inside Docker on Windows 10. I'm using module zimDump to dump `wiktionary_en_all_maxi_2021-03.zim` to html. The size of this zim file is 5.74GB. The dumping process has running for nearly 2 days and has not finished yet.

It's from [this discussion](https://github.com/openzim/zim-tools/issues/69#issuecomment-62862190

[2021-04-17 15:20] kelson42 commented on #233
Zimdump is not slow anymore. Maybe your computer is slow, you have a lot of content to dump, you use an old version... Or you are impatient. If you want more details, you can read the code and make a feature request if you have an idea how to make it quicker.

[2021-04-17 15:20] #233 closed

[2021-04-17 15:24] lidel commented on #233
It is also possible you are using an older version. Grab the latest one from https://download.openzim.org/nightly/ and check if it improves anything.

[2021-04-17 15:28] leanhdung1994 commented on #233
@kelson42

The dumping is still running, so I'm not able to check the version right now. From docker,
![image](https://user-images.githubusercontent.com/28704090/115118121-1a518300-9fa2-11eb-86d1-2f298b27aab1.png)

It seems my version was updated 3 months ago and is **2.1.0**. My computer has 12 cores with 32GB RAM. The zim file is 5.74GB with 6.600.000 articles.

[2021-04-18 06:07] leanhdung1994 commented on #233
@lidel I've downloaded and unzip the files downloaded from your link. In the working directory, I have

[code]

I tried to install zimdump but to no avail.

[code]

I've only used Windows so far. Could you please inform me how to install zimdump?

[2021-04-18 09:26] lidel commented on #233
Sadly I don't use Windows, but as a data point  my wikipedia builds were based on v2.2.0 (nightly), so you should try updated version.

[2021-04-18 09:34] leanhdung1994 commented on #233
It seems `https://download.openzim.org/nightly/` is down
![image](https://user-images.githubusercontent.com/28704090/115140910-e75ace00-a039-11eb-97af-baf1230847b6.png)

Can you explain where to download the v2.2.0 (nightly)?

[2021-04-19 05:06] data-man commented on #170
Proposals.
Add some function to `zim::Archive`

1. `std::set<std::string> getNamespaces() const;` (or `std::unordered_set<std::string>`)

or

2. `std::map<std::string, size_type> getNamespaces() const;` (or `std::unordered_map<std::string, size_type>`) with the number of articles in each namespace

[2021-04-19 07:24] leanhdung1994 commented on #233
@lidel @kelson42  All compressed file from the link https://download.openzim.org/nightly/2021-04-19/ do not have the version prefix in their name. Can you explain where to download/update to version v2.2.0?

[2021-04-19 08:18] mgautierfr commented on #170
New libzim moved to the idea there is no more namespace.
They are still used internally, but from the user perspective they are gone. All the user content is directly accessible without namespace.

So I don't think we need to add a way to list the namespaces.
But we may have to improve a bit zimdump to access "extra" data, as metadadata, indexes, ...

[2021-04-20 00:24] lidel commented on #233
You can check the version with `zimdump --version`.
Simply pick the latest nightly.

[2021-04-20 14:08] leanhdung1994 opened #236 "Error "failed to solve with frontend dockerfile.v0" in building container zimtools"
I'm building a Docker Image from the Dockerfile on Windows 10. I download the Docker file from [here](https://github.com/openzim/zim-tools/blob/master/docker/Dockerfile) and put in the directory `F:\zimtools\Dockerfile`.

[![enter image description here][1]][1]

The content of the file is

    ARG VERSION=
    FROM alpine:3
    ARG VERSION
    LABEL org.opencontainers.image.source https://github.c

[2021-04-20 17:02] leanhdung1994 commented on #236
I have found the solution. To build your docker image:

1. `cd` to your path where the `dockerfile` is (In your case it's `F:\zimtools\`).

2. `docker build .`

[2021-04-20 17:02] #236 closed

[2021-04-25 15:24] tim-moody opened #238 "Question: what is the proper way to merge two zims?"
Given zim1 and zim2, where zim2 contains articles not in zim1 and articles changed from z1, I ran (using version 2.1.0)

zimdiff zim1 zim2 zim3 which yielded

[code]

I was expecting zim3 to be a file suitable for use with zimpatch.

[2021-04-25 15:42] data-man commented on #238
@tim-moody

Try git version.

[2021-04-25 18:17] tim-moody commented on #238
using 2.2.0 I got remarkably similar results:

[code]

built with

[code]

[2021-04-25 18:38] data-man commented on #238
@tim-moody

This assert isn't from libzim-git. It's 6.3.0 version.

[2021-04-25 19:13] tim-moody commented on #238
I cloned git clone https://github.com/openzim/libzim. Is that what you meant by libzim-git?

It's true the Changelog has only 6.3.0. The libzim.so produced is /usr/local/lib/x86_64-linux-gnu/libzim.so.7.0.0.

Please tell me how to proceed.

[2021-04-25 19:17] veloman-yunkan commented on #238
Why don't you just build using [kiwix-build](https://github.com/kiwix/kiwix-build/)?

[code]

It will download and build all dependencies on its own.

[2021-04-25 19:19] data-man commented on #238
@tim-moody

master branch

It's correct.
Are you sure you don't have `libzim` in `/usr/lib`?

[2021-04-25 19:33] tim-moody commented on #238
Yes. I found /usr/lib/x86_64-linux-gnu/libzim.so.6 -> libzim.so.6.2.2 and removed it, though it is my impression that zimdiff links explicitly with libzim.so.7. I ran again and got

[code]

[2021-04-25 19:37] data-man commented on #238
Oh, again.

It's old source.

[2021-04-25 19:51] data-man commented on #238
Are you sure you don't have `zimdiff` in /usr/bin?

[2021-04-25 20:12] tim-moody commented on #238
That was it. It wasn't the .so but zimdiff itself. 'which' showed the new one, but executing ran the old one.

Now ran the new one and went to completion. thanks.

[2021-04-25 20:34] tim-moody commented on #238
So back to my original question, is the process to run

zimdiff zim1 zim2 zim3

and then

zimpatch zim1 zim3 zim4

making zim4 = zim1 plus all changes and additions of zim2?

[2021-04-26 01:45] data-man commented on #238
Yes.
And check `zimpatch` in `/usr/bin`, please. :)

[2021-04-26 06:52] kelson42 commented on #238
@tim-moody Why you believe that zimdiff/zimpatch are tools to merge ZIM files? This is false. For the rest your bug report seems legit. These tools almost not used, but I would be happy to consider fixint it if you share your ZIM files.

[2021-04-26 08:51] kelson42 commented on #170
I close this ticket as IMO this is not fitting anymore to the new libzim. New tickets might be open to specificly as for way to access "hidden" namespaces data.

[2021-04-26 08:51] #170 closed

[2021-04-26 18:34] tim-moody commented on #238
@kelson42
The zim files I wish to merge are those produced by

https://farm.openzim.org/recipes/wikipedia_en_medicine

and

https://farm.openzim.org/recipes/mdwiki

But there are others that a user might wish to merge such as

http://download.kiwix.org/zim/wikipedia/wikipedia_en_chemistry_maxi_2021-04.zim

and

http://download.kiwix.org/zim/wikipedia/wikipedia_en_physics_maxi_2021-03.zim

(or othe

[2021-04-26 18:41] kelson42 commented on #238
This tool does not exist and even if it would (relatively easy to build), the result woukd probably not be what you expect because none of the HTML articles wiuld be updated to benefit od fully of the merge.

[2021-04-26 18:59] tim-moody commented on #238
What I would expect is that the result would be a 3rd zim that would contain all articles in one or both of the source zims and that for articles that are in both, the one from one of the zims, in my case mdwiki, would take precedence and the same article in the other would be ignored. This is exactly what mdwiki is supposed to do through mirroring, but using a merge would be a more efficient mean

[2021-04-26 19:07] #238 closed

[2021-04-27 08:53] mgautierfr commented on #238
No, the process is :

`zimdiff base_zim target_zim diff_zim` (Generate diff_zim)

then
`zimpatch base_zim diff_zim final_zim` (Generate final_zim)
making final_zim == target_zim.

(This is a same semantic than diff/patch).

[2021-04-27 13:45] tim-moody commented on #238
@mgautierfr thanks for clarifying. I think I now understand that zimdiff/patch works like the equivalent for files or repos such that if I have **base** I only need to obtain **diff** in order to generate **target**.

[2021-04-27 13:49] mgautierfr commented on #238
Yes.
But please be careful with those tools. They have been created a long time ago (for a gsoc I think) and they never have been tested correctly.
And one think that we know for sure, the `final_zim` is not totally equal to `target_zim`. They should contain the same content but they are NOT binary equal.

[2021-04-27 13:57] data-man commented on #238
New tool `zimjoin`?

[2021-04-27 14:44] mgautierfr commented on #238
I would discuss the use case before creating another tool. It will avoid us to have unused tools as zimdiff/zimpatch.

Zim files are not so easy to merge and it make not much sense as zim files are by definition independent (no article link from a zim file to another).

[2021-04-27 15:28] tim-moody commented on #238
I guess we'll wait to see if the problem can be solved at source (mdwiki.org) and if not then who is willing to do something about it.

[2021-04-28 12:52] #203 closed

[2021-04-28 12:54] mgautierfr opened #239 "Add error code to json zim-check output."
We agree on #206 to merge the PR without error code.

This may be necessary (or not) depending of the real usage.
We have to discuss this and maybe implement error code.

[2021-04-30 09:28] data-man opened #240 "Migrate to other command line parser"
Sorry, I really dislike docopt (very limited functionality and no active development).

Let's use https://github.com/CLIUtils/CLI11.

- C++11
- header only (single file ~347 KiB), can be shipped in zim-tools sources
- builtin validators
- subcommands
- and much more!

What do you think?

[2021-05-02 07:35] kelson42 commented on #240
Strongly against, without a clear problem we won't change this dependence.

[2021-05-02 07:47] data-man commented on #240
Why?
`docopt` used only in `zimdump` and `zimsplit`.

Because it's a bad library.

[2021-05-02 07:52] kelson42 commented on #240
We never do changes without a clear need.

[2021-05-04 14:59] mgautierfr commented on #231
Yes, the idea of removing the namespace is to have all resource at same level (at least not levels added by libzim) and so we don't need to rewrite the url.
On top of that, the compatibility layer in last libzim (not yet released) should probably handle this case (for old zim file).

[2021-05-04 15:39] #231 closed

[2021-05-12 05:25] kelson42 commented on #191
@mgautierfr You confirm we can close this?

[2021-05-16 15:35] holta opened #242 "Installing zim-tools fails on Ubuntu Server 20.04.2 -- partial workaround is to download mustache.hpp into /usr/include"
Summary: zim-tools install instructions at https://github.com/openzim/zim-tools#compilation do not work on Ubuntu Server 20.04.2

_Thanks if anybody has suggestions for PROBLEM 2 OF 2 below!_

### PROBLEM 1 OF 2:

[code]

...can be solved with this workaround: (thanks to @curtathompson and @georgejhunt)

[code]

Error Log 1: (output of `meson . build`)
https://paste.ubuntu.com/p/wZkcfSHsTm/

Error

[2021-05-16 15:56] kelson42 commented on #242
@holta The problem 1 is probably because you don't have the proper version of Mustache, you have solved the problem by yourself. The second problem is because you use a dev version of both libzim and zim-tools (and they don't compile for the moment together)? Do I'm right?

[2021-05-16 21:00] holta commented on #242
What version of Mustache should I be installing?

Did I miss instructions at https://github.com/openzim/zim-tools or some similar place?

I'm very confused as this worked a week ago:

[code]

Can you recommend any other way to install a recent version [zimdump](https://openzim.org/wiki/Zimdump) ?

Is it true that Ubuntu 21.10 and/or 21.04 (might!) allow these tools to be installed far more easily?

[2021-05-17 03:52] kelson42 commented on #242
@holta I think this ismthe version 4.1. There is a ticket somewhere to check the version. For the rest, use released versions, both binaries or sources.

[2021-05-17 06:20] kelson42 commented on #242
@mgautierfr Code has to be fixed here.

[2021-05-17 12:32] holta commented on #242
FYI both versions of [mustache.hpp](https://github.com/kainjow/Mustache/blob/master/mustache.hpp) work when I download (either file) into `/usr/include`:

- Mustache 4.1 (i.e. latest official release from 13 months ago, 2020-04-18)
- master branch of Mustache (i.e. 5-week-old modification to mustache.hpp from 2021-04-11)

(Perhaps revise https://github.com/openzim/zim-tools/blob/master/README.md t

[2021-05-17 12:40] mgautierfr commented on #242
We had the mustache dependency with the PR #206 and we forgot to update the readme.

https://download.openzim.org/release/zim-tools/ and https://download.openzim.org/nightly/2021-05-12/

[2021-05-17 12:42] mgautierfr commented on #242
You can use kiwix-build which will build every thing for you (including downloading mustache)

[2021-05-17 15:44] mgautierfr commented on #191
On this specific issue (dandling symlink), we can close the issue.

However, what we called favicon is now illustration (It doesn't prevent existing favicon to be correctly writen if present)

[2021-05-17 15:45] #191 closed

[2021-05-17 15:48] mgautierfr commented on #191
Worth to mention that for new zim file, as Illustration is part of metadata, zimdump will not create the corresponding file.

[2021-05-17 16:37] #242 closed

[2021-05-25 20:39] jmontleon commented on #210
If anyone is trying to overcome this, [this](https://github.com/jmontleon/fedora-kiwix-server) is an example of how you can build your own kiwix-serve that is capable of serving the stackoverflow zim.

[2021-05-26 07:24] mgautierfr commented on #210
For your information https://github.com/kiwix/kiwix-build works pretty well on fedora.

[2021-06-06 11:47] kelson42 commented on #161
@shashwat1002 Sorry for my super late answer, but “yes”, such a PR would be really welcome!

[2021-06-06 12:30] kelson42 commented on #240
@veloman-yunkan @mgautierfr Youe feedback is welcome on this ticket.

[2021-06-07 11:05] mgautierfr commented on #240
Can you be a bit more explicit ?
"I really dislike" it is not a argument.
---

I'm not against a change. CLI11 seems to be a good library, maybe better than docopt.
But it is not because one is better than the other that we MUST change the library.
docopt seems to do the job, why change it ?
Why we should change it (except you dislike it). How it would improve our software or our daily work, maint

[2021-06-08 06:46] kelson42 commented on #240
Closing, at least for the moment, no strong reason to come back on a decision which is just one year old.

[2021-06-08 06:46] #240 closed

[2021-06-11 16:28] jmontleon commented on #210
This assert is failing trying to build a new stackoverflow:
https://github.com/openzim/libzim/blob/master/src/writer/creator.cpp#L334

I think this means the mimelist is still coming up too big?

I see on https://github.com/openzim/zim-tools/issues/126 that the list of mimetypes garbage like this:

[code]

These are coming from file extensions on links I believe:
[code]

If the logic is to call ev

[2021-06-15 20:02] jmontleon commented on #187
Is this issue based around this code, or something different?
https://github.com/openzim/zim-tools/blob/master/src/zimwriterfs/tools.cpp#L253-L259
[code]

While trying to build a new zim file of stackoverflow it looked like the mimeType list being generated was way too long and the [ASSERT ](https://github.com/openzim/libzim/blob/cfa6223c9f5f3b2dd28cec917f80359c7c2ba0b3/src/writer/creator.cpp#L334

[2021-06-16 02:47] jmontleon commented on #210
![image](https://user-images.githubusercontent.com/1850500/122149878-c4c31680-ce2a-11eb-9bbf-ce8b67b6e00a.png)

`-rw-r--r--. 1 root  root  146G Jun 15 22:35 stackoverflow.com_en_all.zim`

I was able to complete a working build off of the 2021-03 dump. I'm probably going to start working on one of hte 2021-06 dump. I ended up using sotoki, some scripts, and zimwriterfs. sotoki 1.3.2-dev was hopeles

[2021-06-16 04:49] kelson42 commented on #187
This ticket is not a bug, this is a feature request. I believe your comment to be unrealted to this.

[2021-06-16 05:31] eroyee opened #247 "zimrecreate should use libzim default encoding per default, so zstd"
A small thing perhaps but per https://github.com/kiwix/libkiwix/issues/554 it may be useful if _zimrecreate_ (and any other zim writing tools) could default to zstd compression and require a switch for lzma?

Presently lzma appears to be the default for _zimrecreate_ and it requires a switch for zstd, yet the latter algorithm appears to offer better compression (along with possibly faster extracti

[2021-07-01 07:21] Popolechien opened #336 "Common constraint: Description metadata should not be empty"
This field should be mandatory, lest we end up with dozen of obscure zim titles that cannot find their audience.

[2021-07-01 15:11] rgaudin commented on #149
Got this problem again with a different, simpler use case.
The ZIM is at http://tmp.kiwix.org/beer_meta.zim

When using `zimcheck -U` on it, it will raise a _Not Found Article_ for `static/css/mobile.css`. You shouldn't worry about the rest of the errors nor the reason it's not finding the article. The fact that this is mentioned only within a `<script />` is the problem here.

Actually, AFAIK, zi

[2021-07-01 15:15] rgaudin opened #249 "Failure without reason"
Running `zimcheck --empty --checksum --integrity --metadata --favicon --main --mime --details /data/beer_meta.zim` on http://tmp.kiwix.org/beer_meta.zim results in the following output.

[code]

As you can seem there is zero detail about what's wrong but the Overall status is `Fail` and the exit code is `1` which is of no use. Not sure whether there is a missing error detail or if it should succee

[2021-07-01 15:23] rgaudin opened #250 "Zimcheck doesn't account for <base />"
In sotoki, we use the [`<base />`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base) element to deal properly and cleanly with internal links thorough the ZIM.

Unfortunately, zimcheck doesn't account for this base when checking (internal in this case) links.

So I get tons of errors like

[code]

This is because we have a proper base and the link `static/js/webp-hero.bunde.js` is fr

[2021-07-07 14:21] mgautierfr commented on #149
Gumbo (https://github.com/google/gumbo-parser) is probably a better parser to parse html.
Fortunately, it is already a dependencies of zim-tools (through zimwriterfs), so we just have to use it :)

[2021-07-07 14:27] maneeshpm commented on #149
This looks interesting, an html5 specific parser like Gumbo is more suited for our need than depending on an XML based parser like Pugixml.

[2021-07-10 16:01] veloman-yunkan commented on #249
@rgaudin You are using quite an old version of zimcheck - the `--mime` option was dropped more than half a year ago (see 2337366c2389bd0a892c69786a53ff88389a64b6). A recent version reports a missing favicon:

[code]

[2021-07-10 18:59] rgaudin commented on #249
Ah sorry about that ; I am using the [latest released docker image](https://hub.docker.com/r/openzim/zim-tools/tags?page=1&ordering=last_updated) which is `2.1.0`.

[2021-07-11 06:25] kelson42 commented on #249
@rgaudin Can you please run the check with the cutting edge zimcheck?

[2021-07-11 11:51] rgaudin commented on #249
Hum… I surely get the same results as @veloman-yunkan when testing with the latest nightly.

Two concerns arise though:
- zimcheck is integrated into zimfarm. It's the foundation of the to-come CMS. If the latest release is considered obsolete, maybe it's time to release 😀 Kidding, I know why it' not. @kelson42 we need a docker image for zimfarm so should we publish an `openzim/zim-tools:nightly`

[2021-07-11 11:51] #249 closed

[2021-07-11 18:32] rgaudin opened #251 "[zimcheck] Illustration not detected as favicon"
Looks like zimcheck is only looking for old-fashion favicon and not for Illustrations.

Example with [this zim file](http://tmp.kiwix.org/beer_meta_stackexchange_com_2021-07.zim) containing 2 illustrations ; properly shown by latest kiwix-serve.

[2021-07-11 18:42] rgaudin opened #252 "Add a dev or nightly docker image"
Currently, we only offer docker images for released version. Having up-to-date docker images is generally helpful and nice but in our situation of not releasing for 6months+, it's become much needed ; particularly since we have other tools integrating zimcheck (zimfarm, scraper CI).

In #249, I proposed to create a `nightly` docker image tag that would be built exactly as the release one, but inst

[2021-07-11 19:21] kelson42 commented on #252
Difficult ticket, an other approach would be to just acknowledge our failure of releasing zim-tools in a reasonable delay, wait this is done and suffer... and do our best that this don't occurr any time soon again?

[2021-07-11 19:23] rgaudin commented on #252
I don't get how this would be better than the nightly way. There must be a downside of publishing this that I don't see. **Obviously**, as soon as we have a release, our integrations would use the released version.

[2021-07-11 19:29] kelson42 commented on #252
The only downside I see is that this woukd be a premiere with Docker and that I think this is confusing with the dev tag we already use everywhere... But it quite clear to me as well that I'm overvaluated this problem/argument.

[2021-07-27 21:49] the-turk commented on #210
Why is this issue closed? Are there any official ways to overcome this?

[2021-07-28 09:04] kelson42 commented on #210
@the-turk Not yet, but this is a matter of days and neither the file `stackoverflow.com_en_all_2019-02.zim` nor the scraper which has generated it will be fixed. We have now a fully new scraper which currently in beta testing.

[2021-07-28 09:07] #251 closed

[2021-08-03 16:32] rgaudin commented on #250
FYI, we changed our scraper to not use a `<base />` because it was easier than fixing zimcheck and it also caused issues with kiwix-js

[2021-08-03 16:37] rgaudin opened #255 "Incorrect missing link reported"
[This zim](http://tmp.kiwix.org/alcohol_meta_stackexchange_com_2021-08.zim) produces the following output incorrectly:

[code]

All of those are valid link in their respective pages (along with other similar links) and point to present paths.

Not sure what's going wrong here…

Originally reported in https://github.com/openzim/sotoki/issues/234

[2021-08-03 16:44] kelson42 commented on #255
@veloman-yunkan Could you please have a look to this bug? this would be nice as it impairs the QA process.

[2021-08-04 19:15] veloman-yunkan commented on #255
The problem is caused by the leading slash that is added to the normalized URL in certain cases. I will fix it tomorrow.

[2021-08-10 09:43] #255 closed

[2021-08-10 09:46] LAfricain opened #257 "zimwriterfs fails to create the zim"
When I try to create a new zim with my data, zimwriterfs fails to do it with this error:
[code]
Can you help me? I used zimwriterfs in march, and it worked fine.

[2021-08-10 09:52] mgautierfr commented on #257
This is probably this issue (https://github.com/openzim/libzim/issues/578). It is fixed but not released yet.
You can use the zstd compression (`-z` option) which is not impacted by the bug (and you should use zstd compression as it is the new "standard" in libzim).

[2021-08-10 10:01] LAfricain commented on #257
Hi, Thank you for the quick answer. It's working better, but, still fails with this error:
[code]

[2021-08-10 12:14] mgautierfr commented on #257
Have you deleted the temporary files created by the indexer (graphon_fr_all_2021-08.zim.idx*) ?

[2021-08-10 12:19] #257 closed

[2021-08-15 14:36] MananJethwani opened #258 "compilation failing with latest version of libzim"
here are the logs
[code]

[2021-08-15 14:36] kelson42 opened #259 "zim-tools does not compile anymore"
[code]

Against latest dev libzim

[2021-08-15 14:36] kelson42 commented on #259
@maneeshpm Could you please have a look, I guess this is a consequence of the introduction of the new suggestion API

[2021-08-15 14:38] MananJethwani commented on #258
same as #259

[2021-08-15 14:38] #258 closed

[2021-08-20 06:20] #259 closed

[2021-09-01 19:58] kelson42 commented on #247
Actually, we don’t want to create ZIM files with lzma compression, therefore just removing the option.

[2021-09-02 09:48] #247 closed

[2021-09-06 14:04] mgautierfr commented on #252
Another solution would be to not wait form python-libzim and release libzim the sooner possible :)

[2021-09-22 08:02] mgautierfr opened #262 "Add suggestion search to zimsearch."
For a long time suggestion was implemented at kiwix-tools level as it was a feature of libkiwix.
We recently integrate the suggestion feature in libzim, so zimsearch should provide a suggestion search.

[2021-09-22 08:19] kelson42 commented on #262
@mgautierfr Does it still make sense to keep kiwix-search binary?

[2021-09-22 08:20] mgautierfr commented on #262
Probably not.

[2021-10-14 12:40] kelson42 opened #266 "Debian zimwriterfs Debian package should properly be deprecated"
Here https://tracker.debian.org/pkg/zimwriterfs because `zimwriterfs` should be part now of the `zim-tools` package.

[2021-11-08 16:14] tim-moody opened #268 "Questions about release 3.0.0"
It seems 3.0.0 was released 25 days ago with some more commits 18 days ago. One of the features is given as

- Adapt zim tools to new libzim api (@MGautier @veloman-yunkan @maneesh)

But it is not clear what is 'new libzim api'. Is this libzim 7.0?

Also http://download.kiwix.org/release/kiwix-tools/ has release 3.1.2 from 15 months ago. What is the relationship between that 3.1.2 and this 3.0.0?

[2021-11-08 17:30] mgautierfr commented on #268
Yes. There is no specific commits for this "feature" but we zim-tools use libzim 7.0 and so we keep the code in sync with it.

kiwix-tools and zim-tools are two different projects 🙂

You can get the last release at http://download.openzim.org/release/zim-tools/ or the nightlies here : http://download.openzim.org/nightly/

Binaries are statically linked so no need to get libzim separately.

[2021-11-08 17:30] #268 closed

[2021-11-10 03:18] anmol20112000 commented on #262
@mgautierfr plzz assign this issue to me. i love to contribute on this.

[2021-11-10 06:51] kelson42 commented on #262
You should basically take the code in kiwix-tools kiwix-search and copy/adapt it here.

[2021-11-28 06:41] kelson42 commented on #262
@anmol20112000 Any PR in view?

[2021-12-02 12:52] anmol20112000 commented on #262
@kelson42  i stuck in this....just want some more time...hope you understand...

[2021-12-05 14:41] erickeller opened #269 "dump to zim, xml2zim"
the following page create once or twice a month a complete dump of wikipedia,
https://dumps.wikimedia.org/backup-index.html

I browsed a bit the documentation about openzim yet did not find any response.
zim-tools contain some `zimwritefs` which would take some local html site, yet the official wikipedia dumps are single plain xml files.

 to my understanding the mwoffliner project https://github.

[2021-12-05 14:48] kelson42 commented on #269
@erickeller You have understood everything properly. AFAIK, the dumps have wiki code and what we need in the ZIM files is HTML. So it is not possible to use `zimwriterfs` straight.

[2021-12-05 15:15] erickeller commented on #269
ok including another tool e.g. pandoc, to convert the wiki markdown to html and then use zimwritefs is also not something to consider/investigate?

[2021-12-05 15:17] kelson42 commented on #269
@erickeller You will need a wiki engine, ideally Mediawiki itself. This needs a lot of computing power. This is what we were doing 10 years ago. The mwoffliner is a lot easier to run.

[2021-12-05 15:17] #269 closed

[2021-12-16 16:03] asbsbv opened #270 "arquivo zim"
gostaria da ajuda dos membros para poder migrar os dados de um programa na linguagem ZIM, para outra que possibilite a vinculação destes dados com outra plataforma, se puderem me ajudar agradeço pois não tenho conhecimento na linguagem .zim , e gostaria de ajudar uma ONG que possui um programa de banco de dados que usa esta linguagem e que aqui no brasil não se consegue informações como migrar e
[

[2021-12-16 17:53] kelson42 commented on #270
Bug reports have to be written in Eng,ish to be understood by everybody.

[2021-12-16 17:53] #270 closed

[2021-12-17 08:37] kelson42 opened #271 "zimcheck log should include version"
That would really ease its interpretation.

Should be available as well in the json output (if not arlready done).

[2021-12-18 10:15] kelson42 opened #272 "zimcheck should check for empty <title> entry"
This is important that HTML front-article have a valid/non-empty `<title>` entry. Otherwise the whole Kiwix suggestion system will fail. See for example https://github.com/openzim/ted/issues/125

[2021-12-21 06:55] moussaCamara commented on #74
Hello, i wrote some tools in python dedicated to this task: https://gitlab.com/Afrikalan/zim-tools/-/tree/master/zim-manipulation
Zim cut index does this job, it it based on a handmade lib named zimDerivate.py that allows changing articles, gange zim comrpession and many other things...

[2021-12-21 09:15] #271 closed

[2021-12-22 11:17] mgautierfr commented on #272
Agree. But we may have false positive.
Once the zim is written, the both situations "title is empty" and "title==path" are equivalent and not distinguishable.

As said in https://github.com/openzim/ted/issues/125#issuecomment-999489746 if no entry has a title, we don't have a title index at all. We may check for that first.
We can also loop over all the entries in the xapian title index and the fr

[2021-12-22 11:40] kelson42 commented on #272
@mgautierfr Your proposal seems to be an other way to come to the same diagnostic. No opinion for the moment what would be the best approach... But we should better check it because missing titles have a quite string impact on UX.

[2022-01-06 09:24] kelson42 opened #276 "Empty links should not be errors"
It should be warnings.

Follow-up of https://github.com/openzim/nautilus/issues/35

[2022-01-06 09:26] kelson42 opened #277 "zimwriterfs replaces self links by empty links"
This should better not be the case, see https://github.com/openzim/nautilus/issues/35

[2022-01-13 14:06] rgaudin opened #278 "zimcheck json output is invalid"
zimcheck 3.0.0's JSON (`--json`) output is invalid JSON. Specifically, it is using single quotes instead of double quotes which is not allowed.

[code]

[code]

[2022-01-13 14:15] mgautierfr opened #279 "Zimcheck test link's content before testing if it is empty."
Using front on a empty string is undefined behavior. It is probably why tests pass on the CI and crash on my computer (different version of gcc/stdlib).

[2022-01-13 14:36] #279 closed

[2022-01-13 14:47] #278 closed

[2022-01-25 08:20] mgautierfr opened #285 "We must check that the printed version is the correct one."
Last change in the unit test removes hard coded version in the test. But then we don't test the version itself.

See https://github.com/openzim/zim-tools/pull/283#discussion_r787878838_ posted by @veloman-yunkan :

This change means that we don't care about the version string in the zimcheck output (since we test the contents of the VERSION macro via itself). Consider that the `VERSION` macro is c

[2022-02-04 02:59] legoktm opened #287 "Tests fail if the machine is slow"
Some of the Debian buildds are virtualized hardware and can be slow, so the test fails with:

[code]

Can we fix the tests so they still pass regardless of how long it takes?

Filed downstream as https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1004900

[2022-02-06 05:56] #287 closed

[2022-02-10 16:57] kelson42 opened #289 "Segmentation fault with zimwriterfs"
From kiwix-tools created by [ru2saig](https://github.com/ru2saig): kiwix/kiwix-tools#537

I was trying to create a zim file from a not so large directory, but zimwriterfs fails with a segmentation fault. I have made an log  from strace (attached at the end). Also do ya'll need any more logs? What should I try? What other information would ya'll like?

Running Debian GNU/Linux bookworm/sid

Using k

[2022-02-10 16:59] kelson42 commented on #289
@ru2saig Thank you for your bug report. Any chance we could have somehow the source tarball (the documents you want to put in the ZIM) so we can reproduce the bug? Even privatly?

[2022-02-10 17:05] ru2saig commented on #289
Yes I can send the files, but where to? I would like to send them privately since I'm not sure if I have the copyrights!

[2022-02-10 17:22] kelson42 commented on #289
@ru2saig Please send them to me at kelson_@_kiwix.org

[2022-02-11 16:32] ru2saig commented on #289
I am unable to send the email to that address. It is saying that it does not exist. (using gmail)

[2022-02-11 16:47] kelson42 commented on #289
@ru2saig yes, without underscores, just a way to avoid the email address being gathered by a bot.

[2022-02-11 17:51] ru2saig commented on #289
Sent. Let me know if you need anything else.

[2022-02-12 10:54] kelson42 commented on #289
@veloman-yunkan I have investigated a bit and it seems something fundamentaly wrong go there around the compressions which is not properly set.

First `zim::Compression::Zstd` should be the default at libzim level, and it seems it is not.

Then, problem seems to appear with libzim7.2.0 as well, so this is a regression which we don't have detected... and I really wonder why (because is it a basic u

[2022-02-12 11:39] ru2saig commented on #289
[code]

This is what I get when I run it on my system.

[2022-02-13 08:37] veloman-yunkan commented on #289
I was able to reproduce the issue with another set of data. The problem is that ZIM creation is not exception safe. When an exception is thrown after `zim::Creator::startZimCreation()` has been executed, `zim::Creator` is destroyed without `zim::Creator::finshZimCreation()` having been called. This scenario is not anticipated in the current implementation of `libzim`. The result is a memory corrup

[2022-02-13 10:53] kelson42 commented on #289
@veloman-yunkan Do you talk about https://github.com/openzim/libzim/issues/475? Or is that something else?

[2022-02-13 13:10] veloman-yunkan commented on #289
@kelson42 I didn't remember about that ticket. But on my test case the problem was of a different kind (no callbacks from `zim::Creator` were involved).

[2022-02-16 15:03] #289 closed

[2022-02-16 15:52] kelson42 opened #292 "Document why/how to deal with filehandling max limitation on Linux"
Following #289

[2022-02-16 15:57] kelson42 commented on #292
After discussion which should be able to implement a solution to:
* Save files smaller than cluster size in memory
* Keep filehandle open for bigger files

[2022-02-17 11:06] kelson42 commented on #289
@ru2saig Problem should be fixed, but we still work on a solution to secure you don't have to use `ulimit` to allow more than 1024 files open at the same time.

[2022-03-12 17:35] kelson42 opened #294 "Main page path given is wrong"
For new ZIM files the main page URL seems to be always the same and wrong: `mainPage`

See:
[code]

Same with a new Sotoki file:
[code]

[2022-03-16 16:22] #294 closed

[2022-03-23 01:34] automactic commented on #294
@kelson42 yeah you are right, `Ansayfa` is the main page

[2022-03-28 19:33] ballerburg9005 opened #295 "zimsplit leaves huge 16GB last file with warning on wikipedia_en_all_nopic_2022-01.zim"
When I use zimsplit on this 47GB Wikipedia file, it correctly creates X GB large chunks but then always leaves a 16GB large file at the end.

opening new file /mnt/2/wikipedia_en_all_nopic_2022-01.zimaa
opening new file /mnt/2/wikipedia_en_all_nopic_2022-01.zimab
opening new file /mnt/2/wikipedia_en_all_nopic_2022-01.zimac
opening new file /mnt/2/wikipedia_en_all_nopic_2022-01.zimad
opening new fi

[2022-03-29 04:07] kelson42 commented on #295
You have a big chunk because the search index is of that side and can not be splitted. There is no solution to this problem beside having an Android which supports exFat.

[2022-03-29 04:07] #295 closed

[2022-03-29 10:03] mgautierfr commented on #295
zimsplit splits a zim file at "internal boundaries" of the zim file. But as @kelson42 said, some content (search index) are pretty big and cannot be cut.
You can still cut the zim file using unix tools, but you will have some penalty performance and the search index will not be available.
If you don't want the penalty performance, you can use zimsplit first and unix tools to split only the too big

[2022-04-21 20:29] benoit74 opened #297 "Zimcheck does not complains on externals background-image: url("...")"
When a page has an element with an inline style with a background-image referring to an external URL, zimcheck should raise an error.

Exemple:
[code]

[2022-04-22 08:40] rgaudin commented on #297
Yes, zimcheck relies on regexp and has many limitations. We already have several tickets but I believe the potential solution is laid out in #149

[2022-04-22 11:06] kelson42 commented on #297
@rgaudin Definitly!

[2022-04-29 16:33] kelson42 opened #298 "Release 3.1.1"
- [x] Secure the CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [x] Close current milestone and create new one incrementaly (_a priori_ a minor version)
- [x] Create a tag on git
- [x] Secure new source/sbinaries are published on https://download.openzim.org/release/zim-tools/
- [x] Update the Github release with the Changelog
- [x] Create new

[2022-05-06 20:47] ballerburg9005 opened #300 "zimwriterfs: Weird segfault / error due to <meta http-equiv="refresh" content="0; URL=https://example.com" />"
Reproduce:
[code]
**zimwriterfs: Target path doesn't exists**

However, when the same covid.cdc.gov directory was part of a bigger zim file it just caused a segfault. After removing the directory, it worked as normal. I used gdb to isolate the problem to the file covid.cdc.gov/index.html. It contains nothing but this:

[code]

[2022-05-07 04:30] kelson42 commented on #300
@ballerburg9005 Thx for your bug report but this is a bug complecated to reproduce considering the size of the web site/directory. You don't have a simpler reproduction case?

[2022-05-07 11:05] ballerburg9005 commented on #300
Actually this is not a recursive download. It literally results in just this directory and index.html to be created and exactly this produces the error, which also seems to be responsible for segfaults if this directory is part of a larger zim file (but strangely no segfault, just this error, when you reproduce it like described).

[2022-05-07 18:13] #298 closed

[2022-05-07 19:31] kelson42 commented on #300
@ballerburg9005 So far I'm not able to reproduce the bug. Please upload here the ZIP with the exact content of the `test` directory... out of the box it can not work, there is for example nothing about `zim_favicon.png`!

[2022-05-08 01:25] ballerburg9005 commented on #300
There is nothing more to it.

[test.zip](https://github.com/openzim/zim-tools/files/8646180/test.zip)

[2022-05-08 06:54] kelson42 commented on #300
I still can not reproduce the `segfault`, see:
[code]

With latest `zimwriterfs` release (done a few days ago), you should not have a `segfault`, but an error and a managed stop (but not with this exact message like in my log).

[2022-05-08 19:31] ballerburg9005 commented on #300
Yes this is exactly according to how I described the bug, except that your error message is more verbose than mine (Target path doesn't exists).

In order for the segfault to happen the covid.cdc.gov directory needs to be part of some larger (+100MB?) directory from any other website. Try my blog for example:

[code]

[2022-05-08 19:48] kelson42 commented on #300
This is not a `segfault`. This is a normal error. You have a HTML redirection to an external resources. This is wrong. It should be a redirection to a local resource.

[2022-05-08 20:16] ballerburg9005 commented on #300
Please read again what I said.

* if you make a zim from just the covid.cdc.gov directory it produces a strange error
* if the covid.cdc.gov directory is part of a larger website's directory, **it produces a segfault**

[code]

This is a segfault. It happens if you follow my example and bug description.

Also I do not see how it is desirable to have zimwriterfs fail, just because there is some bro

[2022-05-09 04:27] kelson42 commented on #300
Please produce the reproduction steps. Considering that this is two different problems, open different tickets.

Regarding the fact if zimwriterfs should stop or not. I have no strong opinion...

[2022-05-09 09:59] ballerburg9005 commented on #300
https://github.com/openzim/zim-tools/issues/300#issuecomment-1120474425

[2022-06-02 10:18] vporton opened #303 "Produced symlinks are broken"
[code]
on the file https://dumps.wikimedia.org/kiwix/zim/wikipedia/wikipedia_ab_all_maxi_2022-05.zim produces wrong symlinks:

e.g. `A/Ҩынҩажәи_хԥа` points to `A/A/43_(ахыԥхьаӡара)` instead of `A/43_(ахыԥхьаӡара)` because it is a relative symlink `A/43_(ахыԥхьаӡара)` in directory `A/`.

[2022-06-14 18:06] Dalton-Overlin opened #304 "Issue using zimdump to export with .html extension"
Hi, using the latest version of zimdump on Ubuntu it exports file data without any file extension name. For example, the exported files that contain html, do not have a file extension name. Is there a way I can specify that zimdump exports the folders containing html to have the file extension of       .html

If you could offer any solutions on this I would appreciate it very much.

[2022-06-14 18:44] kelson42 commented on #304
Yes, this is normal. The filenames are like in the ZIM file. If we change them, the we would have to rewrite the links in the HTML as well. What we don't want to do. What is the problem of having files without extensions?

[2022-06-14 20:36] Dalton-Overlin commented on #304
I will be storing these files on a personal server after extraction, but they will have been modified. Most browsers only display the html if the file loaded has the .html extension. Would you happen to know of a program that could rename the files and rewrite the html contents to reflect the changes to the file names?

[2022-06-14 21:01] kelson42 commented on #304
@Dalton-Overlin I don't know such a software. But, may I ask why you want to do so instead of just using the ZIM file?

[2022-06-15 00:21] Dalton-Overlin commented on #304
I need to modify the HTML files programmatically. But thank you for taking the time to reply to me, I appreciate it.

[2022-06-15 04:34] kelson42 commented on #304
@Dalton-Overlin Then you better fix the problem at the source, in MWoffliner.

[2022-06-15 04:34] #304 closed

[2022-06-20 10:11] rgaudin opened #305 "Core dump checking latest stackoverflow"
`time zimcheck -A /data/download/zim/stack_exchange/stackoverflow.com_en_all_2022-05.zim`

[code]

[code]

[2022-06-20 11:55] rgaudin commented on #305
@kelson42 no I don't but it looks like the log is giving a hint about what's happening and where. Hopefully that's enough…

[2022-06-20 12:23] veloman-yunkan commented on #305
Unfortunately, the information in the log only tells about an out-of-bounds access during a mutating operation on a string object, which is absolutely not enough to pinpoint the root cause.

@kelson42 Can I debug this remotely?

[2022-06-24 09:45] veloman-yunkan commented on #305
@kelson42 I feel that you missed my feedback. Is there a way for me to debug this crash remotely (without having to download the ZIM)?

[2022-06-25 09:27] kelson42 commented on #305
@veloman-yunkan I don't have forgotten you. But the we have neither a reproduction case with a smaller ZIM file nor a dedicated online env. we could give you access to.

Usually and so far, most of us (devs) have access to private online linux servers we do use as playground or debug environnements. This kind of need has been solved that way.

@rgaudin I wonder if we could create temporary environ

[2022-06-28 14:31] rgaudin commented on #305
@veloman-yunkan @kelson42 I've setup a debian container that we can use for this purpose. I'll contact you on Slack with details

[2022-06-29 14:22] #303 closed

[2022-07-01 11:41] veloman-yunkan commented on #305
There is a bad link in the article `users/241039/oleh-prypin` (entry idx=58950210) in the ZIM file:

[code]

The corresponding link at the current version of https://stackoverflow.com/users/241039/oleh-prypin is

[code]

The scraper added unjustified "../.." in an absolute URL belonging to a different domain.

Of course zimcheck shouldn't crash because of it and I will fix that. But now you have e

[2022-07-01 12:10] rgaudin commented on #305
Given that this link is correct (although including superfluous relative jumps), I'd say no. What kind of check do you have in mind?

[2022-07-01 13:19] veloman-yunkan commented on #305
@rgaudin The link is incorrect - you cannot go up from the top level

[2022-07-01 13:23] rgaudin commented on #305
No it's not, test for yourself. Above-root resolved segments are to start from the root so you'll see that the first URL above is equivalent to the second one.

[2022-07-01 17:02] veloman-yunkan commented on #305
@rgaudin With such a rule - yes, the two URLs are equivalent. But is such handling of above-root standardized somewhere? Can you point to a spec?

[2022-07-01 17:10] rgaudin commented on #305
Maybe https://www.rfc-editor.org/rfc/rfc3986#section-3.3

   defined for relative reference within the path name hierarchy.  They
   are intended for use at the beginning of a relative-path reference
   ([Section 4.2](https://www.rfc-editor.org/rfc/rfc3986#section-4.2)) to indicate relative position within the hierarchical
   tree of names.  This is similar to their role within some operating
   s

[2022-07-01 19:04] veloman-yunkan commented on #305
Thanks. The section [5.2 Relative Resolution](https://www.rfc-editor.org/rfc/rfc3986#section-5.2) of that RFC and its subsection [5.2.4 Remove Dot Segments](https://www.rfc-editor.org/rfc/rfc3986#section-5.2.4) indeed maintain that going above root is a no-op.

But then we probably better remove the out-of-bounds check for internal links?

https://github.com/openzim/zim-tools/blob/92fc9c7b28ed9381

[2022-07-01 19:21] rgaudin commented on #305
I'm not sure. Internal, we have control over and we want to check that we won't end up with broken links. Given absolute URI are prohibited because scraper can't know at which path (if any) a resource will be served, it's safe to assume that out of bound should be prohibited for internal links as well ?

[2022-07-02 12:32] veloman-yunkan commented on #305
Good point!

[2022-07-05 08:31] veloman-yunkan opened #308 "Limit task queue size in zimcheck"
Before #194 zimchecks processed entries one after another. Support for multi-threading relies on a task queue where every entry from the ZIM file is treated as a separate task. The main thread populates the queue and worker threads process tasks from it (this scheme is used also when zimcheck is run in "single-threaded" mode which means that there is a single worker thread).

The current problem i

[2022-07-05 09:43] kelson42 commented on #308
@veloman-yunkan Sounds indeed really dangerous. Any queue system should have a loopback system to slow down the pushing when the pulling is too slow.

[2022-07-05 14:11] #305 closed

[2022-07-05 14:15] #308 closed

[2022-07-07 07:26] kelson42 opened #310 "Machine readable output for zimdump"
For the moment the output are nice for human but not easily parseable by softwares. This is missing.

[2022-07-26 12:51] veloman-yunkan opened #311 "Make zimcheck report its findings without accumulating them all in memory"
zimcheck's traditional (non-JSON) report format enforces an implementation where all findings (errors/warnings) are accumulated in memory so that they can be output grouped by the check type. When support for JSON output format was added the in-memory representation of each finding became more space consuming. As a result on huge ZIM-files with lots of errors zimcheck's memory consumption can be p

[2022-07-27 11:13] veloman-yunkan commented on #311
@kelson42 Alternatively, we may limit the number of errors/warnings - if the purpose of zimcheck is to identify bugs in the ZIM creation software, then we don't have to report *all* issues as most of them will have the same root cause. That workaround will be easier to implement.

[2022-07-27 12:44] kelson42 commented on #311
@veloman-yunkan Question: might that be that the problem is worse because we don't have error codes and store therefore a lot of free text, see #239 ?

[2022-07-27 13:16] veloman-yunkan commented on #311
@kelson42 Not exactly. In-memory representation of errors is definitely not optimal. However there is a lower bound to how much we can reduce it. A real solution is to either limit the error count or not accumulate the errors in RAM at all.

[2022-07-27 18:40] kelson42 commented on #311
@veloman-yunkan I would prefer to just fix the software elegantly that the memory consumption does not go wild. I understand that following current approach (in RAM), there will be always a "lower bound". 6GB is too high... but from the Kiwix point-of-view, we could probably live with worse case scenarios up to 2GB. Therefore, I wonder if just handling the errors smartly in memory would not be goo

[2022-07-28 07:04] veloman-yunkan commented on #311
@kelson42 That can be a waste of time. What if the best we can get after implementing that optimization is still above 2GB for [stackoverflow.com_en_all_2022-05.zim](http://download.kiwix.org/zim/stack_exchange/stackoverflow.com_en_all_2022-05.zim)?

[2022-08-06 14:20] kelson42 opened #314 "Release 3.2.0"
- [x] Secure the CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [x] Close current milestone and create new one incrementaly (_a priori_ a minor version)
- [x] Create a tag on git
- [x] Secure new source/sbinaries are published on https://download.openzim.org/release/zim-tools/
- [x] Update the Github release with the Changelog
- [ ] Create new

[2022-08-10 08:47] mgautierfr commented on #311
I agree that we could change the output behavior to print the errors as soon as we have found them and not wait the end to be able to regroup them by category. We can somehow assume that:
- checking zim files by tools and using json doesn't need to regroup error, we can output the error directly as a json stream
- checking zim files by humain, Regroup the output is nice but not regrouping it is al

[2022-08-10 13:05] mgautierfr commented on #300
I cannot reproduce the segfault.
I've followed the reproduction steps you've provide (wget ballerburg.us.to and covid.cdc.gov) and no segfault:

With last release (http://download.openzim.org/release/zim-tools/zim-tools_linux-x86_64-3.1.1-1.tar.gz):
[code]

With last nightly (http://download.openzim.org/nightly/2022-08-10/zim-tools_linux-x86_64-2022-08-10.tar.gz):
[code]

[2022-08-12 09:15] #161 closed

[2022-08-12 09:18] kelson42 commented on #314
@mgautierfr We are ready to release

[2022-08-13 10:03] kelson42 opened #315 "zimdump show weird behaviour"
[code]

is wrong, it should deliver the name like:
[code]

[2022-08-20 10:22] tim78245 commented on #292
How do I work around the "Too many open files" error?

[2022-08-21 12:52] tim78245 opened #317 "Easy way to change metadata of zim file (im zimrecreate)?"
I made some zim files about a year ago but didn't realize "en" was incorrect for the language.

Is there a way to easily change it to "eng" (what I presume is correct?)

[2022-08-22 05:59] kelson42 commented on #317
There is no way to do that for the moment. It might be a pretty easy option to `zìmrecreate` to implement.

[2022-08-22 12:58] mgautierfr commented on #292
run `ulimit -n 2048` before running zimwriterfs to change the limit of open files to 2048 (or more, the default value is 1024)

[2022-08-22 13:29] mgautierfr commented on #315
I wonder if keeping the `--ns` option is a good thing.

Libzim moved to an API where we remove/hide the namespace, it is a bit odd (and buggy) to keep the concept in zimdump.
- The `dump` command only "user" entries (in `C` namespace) for new zim files. So the `--ns` option is useless.
- The PR #316 works only because of the compatibility layer to support old bookmarks (including the ns) with old

[2022-08-22 13:41] tim78245 commented on #292
Thank you, this worked (well, a higher value than 2048, but it worked).

[2022-08-23 06:21] ISJ-439 opened #318 "zimdump - Bypassing excessively long filenames."
Hello,

The filenames in a zim im trying to recover are too long, is it possible to add a flag or similar to bypass this or truncate it?

The error is "Exception: Error writing file to errors dir. " with an excessively long file name following.

Thanks

[2022-08-23 09:47] mgautierfr commented on #318
It should already be the case, we truncate filename longer than 255 chars.
What is the file name you want to extract ?
Which command are you using ?

[2022-08-23 14:22] ISJ-439 commented on #318
Im going to replace the site details with an equal number of x's for privacy, hope that's okay.

ZIMtools Version: **3.1.1-2**

Command
**/home/localadmin/Downloads/zim-tools_linux-x86_64-3.1.1-2/zimdump  dump --dir='/mnt/2TB' ./xxxxxxxxxxxxx.com-May2022_2022-05.zim**

Filename
Wrote /mnt/2TB/H/xxxxxxxxxxxxx.com/category/xxxxxxxxxxxxxxxxx/xxxxxxxxxxxxxxx/page/43/ to /mnt/2TB/_exceptions/H%2fxxxxxx

[2022-08-23 14:23] ISJ-439 commented on #318
This is 262 characters which is over the 255 limit for file names.

[2022-08-23 16:46] kelson42 commented on #314
@mgautierfr can we go forward with the release please?

[2022-08-29 09:52] JameelKaisar opened #319 "zimcheck: J flag not working"
The J flag is not working for zimcheck.

### Command
[code]
#### Output:
[code]

The following command however works fine:
[code]

[2022-08-30 14:03] #319 closed

[2022-08-30 16:08] mgautierfr commented on #318
What is failing is the writing of errored file.

zim dump try to write the file in your out directory (`/mnt/2TB`) but if it fails for some reason, it will write the file in the exception directory (`/mnt/2TB/_exceptions`), when doing so, it replace all `/` by `%2f` (so there is no subdirectory) and it doesn't try to truncate the filename.

The question is why it fails to write the file in the fir

[2022-09-01 20:20] ISJ-439 commented on #318
Hello sir,

Firstly, thank you for your time.

"What is the content of mnt/2T"
The content is likely related to a MP3 player applet, yes I know this is not supported and im sorry to use this outside the scope.

"Is your directory full ? Or with some quota ?"
First thing i checked, no sir, almost a TB free, is set the directory to 'chmod -R ./* 777' so its not permissions.

**My purposed solution:*

[2022-09-02 08:09] mgautierfr commented on #318
I agree with you proposal.
But it would even be better to also know why it fails. If you can provide me the zim file (even privatly if you don't what to publish it), I could investigate what is the root cause and fix it.

[2022-09-02 09:49] kelson42 commented on #318
No way to build anyt

We should first 100% understand the root cause.

[2022-09-02 14:26] kelson42 commented on #315
The right approach is probably to remove fully the namespace concept IMO... and create the appropriate function to access other namespaces. This is how the libzim works and `zimdump` should work like this probably.

[2022-10-28 14:06] letompouce opened #322 "zimbench doesn't handle --version/-V and segfaults on unknown options"
As I was passing by [zim-tools_linux-x86_64-3.1.2](https://download.openzim.org/release/zim-tools/zim-tools_linux-x86_64-3.1.2.tar.gz) binaries, I noticed `zimbench` has `-v` to print the software version, where all other binaries honor both `-V` and `--version` options:

[code]

Feeding `zimbench` with any option it doesn't support segfaults:

[code]

[code]

[2022-10-30 10:13] kelson42 commented on #322
@mgautierfr Really strange. I can not reproduce the problem locally with git master HEAD, but the nightly fails as well!
[code]

[2022-11-01 18:19] #322 closed

[2022-11-18 08:29] tim78245 opened #324 "zimwriterfs: warn if link doesn't exist"
Example, if I have an html file that has

[code]

And notexist.png does not exist, zimwriterfs will not tell me.

However, it would be useful to know beforehand if my zim file is missing any resources.

Alternatively, if someone has something that would achieve the same result (some sort of wget spider hack perhaps?), I'd be happy knowing how.

[2022-11-22 14:21] mgautierfr commented on #324
zimcheck does this.

[2022-11-26 08:53] kelson42 opened #325 "Release 3.1.3"
- [ ] Check if minimal versions of library dependences is properly given in Meson
- [x] Secure the CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [ ] Close current milestone and create new one incrementaly (_a priori_ a minor version)
- [x] Create a tag on git
- [x] Secure new source/sbinaries are published on https://download.openzim.org/rele